<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all of the Vault entries"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Vault",
  backgroundImage: globalImage
}) %>

<div id="dashboard-wrapper">
    <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
        <a href="/dashboard/vault/create"><button type="button" class="btn btn-sm btn-info">Create Vault Entry</button></a>
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/vault/"
        }) %>
        <br><br>

        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        <table id="vault-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == true) { %>
                    <% apiData.data.forEach(function (vault) { %>
                        <tr>
                            <td><%= vault.displayName %></td>
                            <td>
                                <div class="btn-group">
                                    <a href="/dashboard/vault/edit?vaultId=<%= vault.vaultId %>" class="btn btn-sm btn-warning">Edit</a>
                                    <form action="<%= process.env.siteAddress %>/redirect/vault/delete" method="post" class="d-inline">
                                        <input type="hidden" name="vaultId" value="<%= vault.vaultId %>">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
<script src="/js/dashboard-tables-init.js"></script>