<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all of the Vault entries"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Vault",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
        <a href="/dashboard/vault/create"><button type="button" class="btn btn-sm btn-info">Create Vault Entry</button></a>
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/vault/"
        }) %>
        <br><br>

        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == false) { %>
                    <%- include("../../partials/alert.ejs", {
                      alertType: "danger",
                      content: apiData.message
                    }) %>
                <% } else { %>
                    <% apiData.data.forEach(function (vault) { %>
                        <tr>
                            <td><%= vault.displayName %></td>
                            <td>
                                <div class="btn-group">
                                    <a href="/dashboard/vault/edit?vaultId=<%= vault.vaultId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                    <form action="<%= process.env.siteAddress %>/redirect/vault/delete" method="post">
                                        <input type="hidden" name="vaultId" value="<%= vault.vaultId %>">
                                        <input type="hidden" name="actioningUser" value="<%= req.session.user.userId %>">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>