<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all of the Vault entries"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Vault",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
        <a href="/dashboard/vault/create"><button type="button" class="btn btn-sm btn-info">Create Vault Entry</button></a>
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/vault/"
        }) %>
        <br><br>

        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        <div class="row">
            <% if (apiData.success == false) { %>
                <div class="col-12">
                    <%- include("../../partials/alert.ejs", {
                      alertType: "danger",
                      content: apiData.message
                    }) %>
                </div>
            <% } else { %>
                <% apiData.data.forEach(function (vault) { %>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%= vault.displayName %></h5>
                                <p class="card-text"><%= vault.description %></p>
                                <p class="card-text"><strong>Position:</strong> <%= vault.position %></p>
                                <a href="<%= vault.redirectUrl %>" class="btn btn-info btn-sm" target="_blank">View Vault Item</a>
                                <hr>
                                <div class="btn-group">
                                    <a href="/dashboard/vault/edit?vaultId=<%= vault.vaultId %>" class="btn btn-sm btn-warning">Edit</a>
                                    <form action="<%= process.env.siteAddress %>/redirect/vault/delete" method="post" class="d-inline">
                                        <input type="hidden" name="vaultId" value="<%= vault.vaultId %>">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>