<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Editor for Network Vault"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Vault",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/vault/"
        }) %>
        <br><br>

        <div class="container-fluid">
            <div class="basic-form"></div>
            <% if (type === 'create') { %>
                <form method="post" action="<%= process.env.siteAddress %>/redirect/vault/create">
            <% } %>
            <% if (type === 'edit') { %>
                <form method="post" action="<%= process.env.siteAddress %>/redirect/vault/edit">
                    <%- include("../../partials/form/inputHidden.ejs", {
                        elementName: "vaultId",
                        elementValue: vaultApiData.vaultId
                    }) %>
            <% } %>

            <%- include("../../partials/form/inputHidden.ejs", {
                elementName: "actioningUser",
                elementValue: req.session.user.userId
            }) %>
            
              <div class="row">
                  <!-- Display Name -->
                  <div class="form-group col">
                      <label for="displayName">Display Name</label>

                      <% if (type === 'create') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "displayName",
                              elementValue: null,
                              required: true
                          }) %>
                      <% } %>
                      <% if (type === 'edit') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "displayName",
                              elementValue: vaultApiData.displayName,
                              required: true
                          }) %>
                      <% } %>
                  </div>
              </div>                                            

              <!-- Vault Description -->
              <div class="form-group">
                  <label for="description">Vault Description</label>

                  <% if (type === 'create') { %>
                        <%- include("../../partials/summerNoteEditor.ejs", {
                            editorElementName: "description",
                            editorPOSTElementName: "description",
                            editorElementText: null
                        }) %>
                  <% } %>
                  <% if (type === 'edit') { %>
                        <%- include("../../partials/summerNoteEditor.ejs", {
                            editorElementName: "description",
                            editorPOSTElementName: "description",
                            editorElementText: vaultApiData.description
                        }) %>
                  <% } %>
              </div>

              <div class="row">
                  <!-- URL Redirect -->
                  <div class="form-group col">
                      <label for="redirectUrl">URL Redirect</label>

                      <% if (type === 'create') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "redirectUrl",
                              elementValue: null,
                              required: true
                          }) %>
                      <% } %>
                      <% if (type === 'edit') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "redirectUrl",
                              elementValue: vaultApiData.redirectUrl,
                              required: true
                          }) %>
                      <% } %>
                  </div>

                  <!-- Position -->
                  <div class="form-group col">
                      <label for="position">Position</label>

                      <% if (type === 'create') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "position",
                              elementValue: null,
                              required: true
                          }) %>
                      <% } %>
                      <% if (type === 'edit') { %>
                          <%- include("../../partials/form/inputText.ejs", {
                              elementName: "position",
                              elementValue: vaultApiData.position,
                              required: true
                          }) %>
                      <% } %>
                  </div>
              </div>

              <% if (type === 'create') { %>
                  <button type="submit" class="btn btn-primary"><i class="fal fa-copy"></i> Create Vault Entry</button>
              <% } %>

              <% if (type === 'edit') { %>
                  <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit Vault Entry</button>
              <% } %>
            </form>
        </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>