<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all of the Vault entries"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<div class="container-fluid">
    <div class="row">
        <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Vault</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/dashboard/vault/create" class="btn btn-sm btn-info">Create Vault Entry</a>
                    <%- include("../../partials/documentationLink.ejs", {
                        doclink: "https://modularsoft.org/docs/products/zander/features/vault/"
                    }) %>
                </div>
            </div>

            <% if (req.cookies.alertType) { %>
                <%- include("../../partials/alert.ejs", {
                  alertType: req.cookies.alertType,
                  content: req.cookies.alertContent
                }) %>
            <% } %>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (apiData.success == false) { %>
                        <%- include("../../partials/alert.ejs", {
                          alertType: "danger",
                          content: apiData.message
                        }) %>
                    <% } else { %>
                        <% apiData.data.forEach(function (vault) { %>
                            <tr>
                                <td><%= vault.displayName %></td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/dashboard/vault/edit?vaultId=<%= vault.vaultId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                        <form action="<%= process.env.siteAddress %>/redirect/vault/delete" method="post">
                                            <input type="hidden" name="vaultId" value="<%= vault.vaultId %>">
                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </main>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
