<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/siteLogo.png" alt="" class="img-fluid">
					</div>

					<ul class="list-inline footer-socials mt-4">
						<% if (features.smDiscord) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.discord %>"><i class="fab fa-discord"></i></a></li>
						<% } %>
						<% if (features.smFacebook) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.facebook %>"><i class="fab fa-facebook"></i></a></li>
						<% } %>
						<% if (features.smTwitter) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.twitter %>"><i class="fab fa-twitter"></i></a></li>
						<% } %>
						<% if (features.smInstagram) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.instagram %>"><i class="fab fa-instagram"></i></a></li>
						<% } %>
						<% if (features.smReddit) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.reddit %>"><i class="fab fa-reddit-alien"></i></a></li>
						<% } %>
						<% if (features.smTwitch) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.twitch %>"><i class="fab fa-twitch"></i></a></li>
						<% } %>
						<% if (features.smYouTube) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.youtube %>"><i class="fab fa-youtube"></i></a></li>
						<% } %>
						<% if (features.smLinkedIn) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.linkedin %>"><i class="fab fa-linkedin-in"></i></a></li>
						<% } %>
						<% if (features.smTikTok) { %>
							<li class="list-inline-item" style="margin-bottom: 10px;"><a href="<%= config.siteConfiguration.platforms.tiktok %>"><i class="fab fa-tiktok"></i></a></li>
						<% } %>
					</ul>
				</div>
			</div>

			<% if (features.communityCreations || features.events) { %>
				<!-- Community -->
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Community</h4>
						<div class="divider mb-4"></div>

						<ul class="list-unstyled footer-menu lh-35">
							<% if (features.communityCreations) { %>
								<li><a href="/communityCreations">Community Creations</a></li>
							<% } %>
							<% if (features.events) { %>
								<li><a href="/events">Events</a></li>
							<% } %>
						</ul>
					</div>
				</div>
			<% } %>

			<!-- Quick Access -->
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Quick Access</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<% if (features.applications) { %>
							<li><a href="/apply">Apply</a></li>
						<% } %>
						<% if (features.communityCreations) { %>
							<li><a href="/vote">Vote</a></li>
						<% } %>
						<li><a href="/punishments">Punishments</a></li>
						<% if (features.report) { %>
							<li><a href="/report">Report</a></li>
						<% } %>
						<li><a href="/support">Support</a></li>
					</ul>
				</div>
			</div>

			<!-- Legal -->
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Legal</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="/rules">Rules</a></li>
						<li><a href="/terms">Terms Of Service</a></li>
						<li><a href="/privacy">Privacy Policy</a></li>
						<li><a href="/refund">Refund Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright 2018 - <%= new Date().getFullYear() %> Crafting For Christ<br>
						Designed by <a href="https://themefisher.com/">Themefisher</a> and Developed by <a href="https://modularenigma.com" target="_blank">ModularEnigma</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

    <!-- Essential Scripts -->
    
    <!-- Main jQuery -->
    <script src="/vendors/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/vendors/bootstrap/js/popper.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="/vendors/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/vendors/counterup/jquery.waypoints.min.js"></script>
    
    <script src="/vendors/shuffle/shuffle.min.js"></script>
    <script src="/vendors/counterup/jquery.counterup.min.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/contact.js"></script>

  </body>
</html>