<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= pageDescription %> :: <%= config.siteConfiguration.tagline %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  
  <!-- Primary Meta Tags -->
  <title><%= pageTitle %></title>
  <meta name="title" content="<%= pageTitle %>">
  <meta name="description" content="<%= pageDescription %> // <%= config.siteConfiguration.tagline %>">
  <meta name="theme-color" content="#2f508c">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= config.siteConfiguration.siteAddress %>">
  <meta property="og:title" content="<%= pageTitle %>">
  <meta property="og:description" content="<%= pageDescription %>">
  <meta property="og:image" content="/images/meta-siteLogo.png">

  <meta property="og:locale" content="en_AU">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="<%= config.siteConfiguration.siteAddress %>">
  <meta property="twitter:title" content="<%= pageTitle %>">
  <meta property="twitter:description" content="<%= pageDescription %>">
  <meta property="twitter:image" content="/images/meta-siteLogo.png">



  <!-- <meta property="og:image" content="/meta-image.png">
  <meta property="og:description" content="<%= pageDescription %> :: <%= config.siteConfiguration.tagline %>">
  <meta property="og:title" content="<%= pageTitle %>">
  
  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= config.siteConfiguration.siteAddress %>">
  <meta property="og:locale" content="en_AU"> -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/vendors/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/vendors/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/vendors/slick-carousel/slick/slick-theme.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <script defer src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.legacy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body id="top">