<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title><%= pageTitle %></title>

  <meta name="description" content="<%= pageDescription %> :: <%= config.siteConfiguration.tagline %>">
  <meta property="og:image" content="/images/siteLogo.png">
  <meta property="og:description" content="<%= pageDescription %> :: <%= config.siteConfiguration.tagline %>">
  <meta property="og:title" content="<%= pageTitle %>">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/vendors/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/vendors/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/vendors/slick-carousel/slick/slick-theme.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <script defer src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.legacy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body id="top">