<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Check out profileApiData.data[0].username's profile, punishments and statistics."
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("profileHeader.ejs", {
  profileUserTitle: profileApiData.data[0].username,
  backgroundImage: profileApiData.data[0].coverArt
}) %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-8" style="background-color: #cfcfcf; min-height:600px; border-radius: 5px;">

      </div>
      
      <div class="col-3">
        <h3>Discord</h3>
          <a href="<%= process.env.discordoAuth2URL %>"><button class="btn btn-primary btn-sm" type="button"><i class="fa-brands fa-discord"></i> Connect Discord</button></a>
      </div>
    </div>
  </div>
</section>

<%- include("../footer.ejs") %>  