<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: config.siteConfiguration.tagline
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../modules/profile/profileHeader.ejs"), {
    profileSession: profileSession
} %>
<br>

<div class="container">
    <%= console.log(req.cookies); %>
    <% if (req.cookies.alertType) { %>
        <%- include("../../partials/alert.ejs", {
          alertType: req.cookies.alertType,
          content: req.cookies.alertContent
        }) %>
    <% } %>

    <div class="row">
        <div class="col-md-12">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="profileDisplay-tab" data-bs-toggle="tab" href="#profileDisplay" role="tab" aria-controls="about" aria-selected="true">Profile Display</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About Me</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="socialconnections-tab" data-bs-toggle="tab" href="#socialconnections" role="tab" aria-controls="socialconnections" aria-selected="false">Social Connections</a>
            </li>
        </ul>
        <div class="tab-content mt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="profileDisplay" role="tabpanel" aria-labelledby="profileDisplay-tab">
                <form action="<%= process.env.siteAddress %>/redirect/web/user/profile/display" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="profilePicture_type">Profile Picture Type</label>
                            <select class="form-control" name="profilePicture_type" id="profilePicture_type">
                                <option value="CRAFTATAR" <% if (profileApiData.profilePicture_type === 'CRAFTATAR') { %> selected <% } %>>CRAFTATAR</option>
                                <option value="GRAVATAR" <% if (profileApiData.profilePicture_type === 'GRAVATAR') { %> selected <% } %>>GRAVATAR</option>
                            </select>
                            <small><b>Profile Picture Type: CRAFTATAR or GRAVATAR?</b><br>CRAFTATAR uses your Minecraft skin by default<br>GRAVATAR utilizes the avatar you upload from <a href="https://gravatar.com/">Gravatar</a> and will appear when you link your email and select the option.<br><i>Please ensure that your profile picture complies with the <a href="/rules">Network Rules</a><div class=""></div></i></small>
                        </div>
                        <div class="col-md-6">
                            <label for="profilePicture_email">Email</label>
                            <input type="email" class="form-control mb-3" name="profilePicture_email" id="profilePicture_email" maxlength="70" value="<%= profileApiData.profilePicture_email %>">

                            <button type="submit" class="btn btn-primary">Update Profile Display Preferences</button>
                        </div>
                    </div>
                </form>

                <script>
                    document.getElementById("profilePicture_type").addEventListener("change", function() {
                        var emailField = document.getElementById("profilePicture_email");
                        if (this.value === "GRAVATAR") {
                            emailField.setAttribute("required", "");
                        } else {
                            emailField.removeAttribute("required");
                        }
                    });
                </script>
                <br>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <form action="<%= process.env.siteAddress %>/redirect/web/user/profile/interests" method="post">
                    <label for="social_interests">Interests</label>
                    <input type="text" class="form-control mb-3" name="social_interests" maxlength="50" value="<%= profileApiData.social_interests %>">
                    <button type="submit" class="btn btn-primary mb-3">Update Interests</button>
                </form>

                <form action="<%= process.env.siteAddress %>/redirect/web/user/profile/about" method="post">
                    <%- include("../../partials/summerNoteEditor.ejs", {
                        editorElementName: "social_aboutMe",
                        editorPOSTElementName: "social_aboutMe",
                        editorElementText: profileApiData.social_aboutMe
                    }) %>
                    <button type="submit" class="btn btn-primary mt-3">Update About Me</button>
                </form>
                <br>
            </div>
            <div class="tab-pane fade mt-2" id="socialconnections" role="tabpanel" aria-labelledby="socialconnections-tab">
                <form action="<%= process.env.siteAddress %>/redirect/web/user/profile/social" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social_discord"><i class="fab fa-discord"></i> Discord</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_discord" maxlength="32" value="<%= profileApiData.social_discord %>">

                                <label for="social_steam"><i class="fab fa-steam"></i> Steam</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_steam" value="<%= profileApiData.social_steam %>">

                                <label for="social_twitch"><i class="fab fa-twitch"></i> Twitch</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_twitch" maxlength="25" value="<%= profileApiData.social_twitch %>">

                                <label for="social_youtube"><i class="fab fa-youtube"></i> YouTube</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_youtube" value="<%= profileApiData.social_youtube %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="social_twitter_x"><i class="fab fa-twitter"></i> Twitter/X</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_twitter_x" maxlength="15" value="<%= profileApiData.social_twitter_x %>">

                                <label for="social_instagram"><i class="fab fa-square-instagram"></i> Instagram</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_instagram" maxlength="30" value="<%= profileApiData.social_instagram %>">

                                <label for="social_reddit"><i class="fab fa-reddit"></i> Reddit</label>
                                <small>Your username</small>
                                <input type="text" class="form-control mb-3" name="social_reddit" maxlength="38" value="<%= profileApiData.social_reddit %>">

                                <label for="social_spotify"><i class="fab fa-reddit"></i> Spotify</label>
                                <small>Your User ID</small>
                                <input type="text" class="form-control mb-3" name="social_spotify" value="<%= profileApiData.social_spotify %>">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Update Social Connections</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>  