<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Check out profileApiData.data[0].username's profile, punishments and statistics."
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("profileHeader.ejs", {
  profileUserTitle: profileApiData.data[0].username,
  backgroundImage: profileApiData.data[0].coverArt
}) %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <ul class="nav nav-tabs">
          <a data-toggle="tab" href="#about"><li class="active selected btn" id="tabContent">About</li></a>
          <a data-toggle="tab" href="#statistics"><li class="btn">Statistics</li></a>
          <a data-toggle="tab" href="#punishments"><li class="btn">Punishments</li></a>
          <a data-toggle="tab" href="#reports"><li class="btn"><span class="badge badge-danger"><i class="fas fa-shield-alt"></i></span> Reports</li></a>
        </ul>
        
        <div class="tab-content profileSection">
          <div id="about" class="tab-pane fade in active">
            <h3>About</h3>
            <p>Some content.</p>
          </div>
          <div id="statistics" class="tab-pane fade">
            <h3>Statistics</h3>

            <h4>Network Statistics</h4>
            <table class="table">
              <tr>
                <td>####</td>
                <td>####</td>

                <td>####</td>
                <td>####</td>
              </tr>
          </table>


            <h4>Survival Statistics</h4>
            <h5>Transportation</h5>

            <table class="table">
                <tr>
                  <td>AVIATE_ONE_CM</td>
                  <td>####</td>

                  <td>BOAT_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>CLIMB_ONE_CM</td>
                  <td>####</td>

                  <td>CROUCH_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>FALL_ONE_CM</td>
                  <td>####</td>

                  <td>FLY_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>HORSE_ONE_CM</td>
                  <td>####</td>

                  <td>MINECART_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>PIG_ONE_CM</td>
                  <td>####</td>

                  <td>SPRINT_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>STRIDER_ONE_CM</td>
                  <td>####</td>

                  <td>SWIM_ONE_CM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>WALK_ON_WATER_ONE_CM</td>
                  <td>####</td>

                  <td>WALK_ONE_CM</td>
                  <td>####</td>
                </tr>


                <tr>
                  <td>WALK_UNDER_WATER_ONE_CM</td>
                  <td>####</td>

                  <td>####</td>
                  <td>####</td>
                </tr>
            </table>

            <h5>Misc</h5>

            <table class="table">
                <tr>
                  <td>ANIMALS_BRED</td>
                  <td>####</td>

                  <td>BELL_RING</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>BREAK_ITEM</td>
                  <td>####</td>

                  <td>CRAFT_ITEM</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>DAMAGE_DEALT</td>
                  <td>####</td>

                  <td>DAMAGE_RESISTED</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>DAMAGE_TAKEN</td>
                  <td>####</td>

                  <td>DEATHS</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>ENTITY_KILLED_BY</td>
                  <td>####</td>

                  <td>FISH_CAUGHT</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>FLOWER_POTTED</td>
                  <td>####</td>

                  <td>ITEM_ENCHANTED</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>JUMP</td>
                  <td>####</td>

                  <td>KILL_ENTITY</td>
                  <td>####</td>
                </tr>


                <tr>
                  <td>LEAVE_GAME</td>
                  <td>####</td>

                  <td>MINE_BLOCK</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>MOB_KILLS</td>
                  <td>####</td>

                  <td>PLAYER_KILLS</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>SLEEP_IN_BED</td>
                  <td>####</td>

                  <td>####</td>
                  <td>####</td>
                </tr>
            </table>

            <h5>Villager Related</h5>

            <table class="table">
                <tr>
                  <td>RAID_TRIGGER</td>
                  <td>####</td>

                  <td>RAID_WIN</td>
                  <td>####</td>
                </tr>

                <tr>
                  <td>TALKED_TO_VILLAGER</td>
                  <td>####</td>

                  <td>TRADED_WITH_VILLAGER</td>
                  <td>####</td>
                </tr>
            </table>


          </div>
          
          <div id="punishments" class="tab-pane fade">
            <h3>Punishments</h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Punished</th>
                  <th scope="col">Punished By</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Type</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Date</th>
                  <th scope="col">Expires</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>
                    <div class="btn-group btn-sm">
                      <form action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/report/close" method="post">
                        <input type="hidden" name="reportId" value="<%= %>">
                        <button class="btn btn-sm btn-danger" type="submit">Close</button>
                      </form>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div id="reports" class="tab-pane fade">
            <h3>Reports</h3>
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reported</th>
                  <th scope="col">Reported By</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (profileApiData.success == false) { %>
                  <%- include("../../partials/alert.ejs", {
                    alertType: "danger",
                    content: profileApiData.message
                  }) %>
                <% } else { %>
                    <% reportApiData.data.forEach(function (report) { %>

                      <% if (report.closed) { %>
                        <tr style="background-color: lightgreen;">
                      <% } else { %>
                        <tr>
                      <% } %>
                            <td>#<%= report.reportid %></td>
                            <td><img style="padding-right: 5px; border-radius: 15px;" src="https://crafatar.com/avatars/<%= report.reportedUserUUID %>?helm" height="20px" draggable="false"> <%= report.reportedUser %></td>
                            <td><img style="padding-right: 5px; border-radius: 15px;" src="https://crafatar.com/avatars/<%= report.reporterUserUUID %>?helm" height="20px" draggable="false"> <%= report.reporterUser %></td>
                            <td><%= report.platform %></td>
                            <td><%= report.reason %></td>
                            <td><%= moment(report.createdDate).format('MMMM Do YYYY') %></td>
                            <td>
                              <div class="btn-group btn-sm">
                                <button class="btn btn-sm btn-info" type="button">View</button>

                                <% if (!report.closed) { %>
                                  <form action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/report/close" method="post">
                                    <input type="hidden" name="reportId" value="<%= report.reportid %>">
                                    <button class="btn btn-sm btn-danger" type="submit">Close</button>
                                  </form>
                                <% }%>
                              </div>
                          </td>
                        </tr>
                    <% }) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-3">
        <h3>First Join</h3>
        <p><%= profileApiData.data[0].joined %></p>

        <% if (profileApiData.data[0].interests) { %>
          <hr>
          <h3>Interests</h3>
          <p><%= profileApiData.data[0].interests %></p>
        <% } %>
        <hr>

        <h3>Social Media</h3>
        <table class="table table-borderless">
          <% if (profileApiData.data[0].twitter) { %>
            <tr>
              <td>Twitter</td>
              <td><%= profileApiData.data[0].twitter %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].twitch) { %>
            <tr>
              <td>Twitch</td>
              <td><%= profileApiData.data[0].twitch %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].steam) { %>
            <tr>
              <td>Steam</td>
              <td><%= profileApiData.data[0].steam %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].steam) { %>
            <tr>
              <td>Steam</td>
              <td><%= profileApiData.data[0].steam %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].github) { %>
            <tr>
              <td>GitHub</td>
              <td><%= profileApiData.data[0].github %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].spotify) { %>
            <tr>
              <td>Spotify</td>
              <td><%= profileApiData.data[0].spotify %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].discord) { %>
            <tr>
              <td>Discord</td>
              <td><%= profileApiData.data[0].discord %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].youtube) { %>
            <tr>
              <td>YouTube</td>
              <td><%= profileApiData.data[0].youtube %></td>
            </tr>
          <% } %>

          <% if (profileApiData.data[0].instagram) { %>
            <tr>
              <td>Instagram</td>
              <td><%= profileApiData.data[0].instagram %></td>
            </tr>
          <% } %>
        </table>
        <hr>  
      </div>
    </div>
  </div>
</section>

<%- include("../footer.ejs") %>  