<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Check out profileApiData.data[0].username's profile, punishments and statistics."
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("profileHeader.ejs", {
  profileUserTitle: profileApiData.data[0].username,
  backgroundImage: profileApiData.data[0].coverArt
}) %>

<form action="<%= process.env.siteAddress %>/redirect/user/profile/update" method="post">
  <section class="section">
    <div class="container">
        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>

      <div class="row">
        <div class="col-8" style="background-color: #cfcfcf; min-height:600px; border-radius: 5px;">

        </div>

        <input type="hidden" name="userId" value="<%= profileApiData.data[0].userId %>">
        
        <div class="col-3">
          <h3>Profile Picture Type</h3>
            <!-- <select class="form-control" name="profilePictureType">
              <option value="CRAFTATAR">Craftatar</option>
              <option value="GRAVATAR">Gravatar</option>
            </select> -->

            <%- include("../../partials/form/inputSelect.ejs", {
                 elementName: "profilePictureType",
                 elementValue: profileApiData.data[0].profilePictureType,
                 required: true,
                 optionElements: [
                     {
                         optionName: "Craftatar",
                         optionValue: "CRAFTATAR",
                         selected: false,
                         disabled: false
                     },
                     {
                         optionName: "Gravatar",
                         optionValue: "GRAVATAR",
                         selected: false,
                         disabled: false
                     }
                 ]
            }) %>
            <br>

          <h3>Discord</h3>
            <% if (!req.session.user.discordID) { %>
              <a href="/user/oauth/discord"><button class="btn btn-primary btn-sm" type="button"><i class="fa-brands fa-discord"></i> Connect Discord</button></a>
            <% } else { %>
              <a href="/user/oauth/discord/disconnect/<%= req.session.user.discordID %>"><button class="btn btn-danger btn-sm" type="button"><i class="fa-brands fa-discord"></i> Disconnect Discord</button></a>
            <% } %>
        </div>
      </div>

      <br>
      <button class="btn btn-primary btn-sm" type="submit">Update Profile</button>

    </div>
  </section>
</form>


<%- include("../footer.ejs") %>  