<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Editor for Network Forms"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Forms",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/form/"
        }) %>
        <br><br>
        
        <div class="basic-form">
            <% if (type === 'create') { %>
                <form method="post" action="<%= process.env.siteAddress %>/redirect/form/create">
            <% } %>
            <% if (type === 'edit') { %>
                <form method="post" action="<%= process.env.siteAddress %>/redirect/form/edit">
                    <%- include("../../partials/form/inputHidden.ejs", {
                        elementName: "formId",
                        elementValue: formApiData.formId
                    }) %>
            <% } %>

            <%- include("../../partials/form/inputHidden.ejs", {
                elementName: "actioningUser",
                elementValue: req.session.user.userId
            }) %>
            
            <div class="row">
                <!-- Display Name -->
                <div class="form-group col">
                    <label for="displayName">Display Name</label>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "displayName",
                            elementValue: null,
                            required: true
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "displayName",
                            elementValue: formApiData.displayName,
                            required: true
                        }) %>
                    <% } %>
                </div>

                <!-- Form Slug -->
                <div class="form-group col">
                    <label for="formSlug">Form Slug</label>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "formSlug",
                            elementValue: null,
                            required: true
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "formSlug",
                            elementValue: formApiData.formSlug,
                            required: true
                        }) %>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <!-- Form Schema Link -->
                <div class="form-group col">
                    <label for="formSchema">Form Schema Link</label>
                    <small>If using internal forms, redirect your JSON to a external repository.</small>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "formSchema",
                            elementValue: null,
                            required: true
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "formSchema",
                            elementValue: formApiData.formSchema,
                            required: true
                        }) %>
                    <% } %>
                </div>

                <!-- Visability -->
                <div class="form-group col">
                    <label for="formStatus">Visability</label>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputSelect.ejs", {
                            elementName: "formStatus",
                            elementValue: "null",
                            required: true,
                            optionElements: [
                                {
                                    optionName: "Select a Visability",
                                    optionValue: "null",
                                    selected: true,
                                    disabled: true
                                },
                                {
                                    optionName: "Enabled",
                                    optionValue: "1",
                                    selected: false,
                                    disabled: false
                                },
                                {
                                    optionName: "Disabled",
                                    optionValue: "0",
                                    selected: false,
                                    disabled: false
                                }
                            ]
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputSelect.ejs", {
                            elementName: "formStatus",
                            elementValue: formApiData.formStatus,
                            required: true,
                            optionElements: [
                                {
                                    optionName: "Select a Visability",
                                    optionValue: "null",
                                    selected: true,
                                    disabled: true
                                },
                                {
                                    optionName: "Enabled",
                                    optionValue: "1",
                                    selected: false,
                                    disabled: false
                                },
                                {
                                    optionName: "Disabled",
                                    optionValue: "0",
                                    selected: false,
                                    disabled: false
                                }
                            ]
                        }) %>
                    <% } %>
                </div>
            </div>

            <% if (type === 'create') { %>
                <button type="submit" class="btn btn-primary"><i class="fal fa-copy"></i> Create Form</button>
            <% } %>

            <% if (type === 'edit') { %>
                <button type="submit" class="btn btn-warning"><i class="fal fa-copy"></i> Edit Form</button>
            <% } %>
            </form>
        </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>