<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Reset your password."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Forgot password",
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
          <% } %>

          <form method="post" action="<%= process.env.siteAddress %>/forgot-password">
            <div class="mb-3">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" required>
              <small class="form-text text-muted">We'll send you a link to set a new password.</small>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="width: 100%">Send reset link</button>
            </div>
          </form>
          <br>
          <small class="text-muted"><a href="/login">Return to sign in</a></small>
        </div>
        <div class="col-12 col-sm-6" style="min-height:500px;">
          <div class="text-center">
            <img class="floating" style="margin-top:10px;" src="images/session/loginImage.png" height="300px" draggable="false">
          </div>
        </div>
      </div>
    </div>
</section>

<%- include("../modules/footer.ejs") %>
