<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Login and get involved in the community!"
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Login",
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">    
          <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
          <% } %>

          <form method="post" action="<%= process.env.siteAddress %>/login">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="width: 100%">Sign In</button>
            </div>
          </form>
          <br>
          <small class="text-muted">Don't have an account? You can <a href="/register">register here</a>.</small>
        </div>
        <div class="col-12 col-sm-6" style="min-height:500px;">
          <div class="text-center">
            <img class="floating" style="margin-top:10px;" src="images/session/loginImage.png" height="300px" draggable="false">
          </div>
        </div>
      </div>
    </div>
</section>

<%- include("../modules/footer.ejs") %>