<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Login and get involved in the community!"
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Login",
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">    
          <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
          <% } %>

          <form method="post" action="<%= process.env.siteAddress %>/login">
            <div class="mb-3">
              <label for="identifier">Username or Email</label>
              <input type="text" class="form-control" name="identifier" required>
            </div>
            <div class="mb-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="width: 100%">Sign In</button>
          </div>
        </form>
        <br>
        <small class="text-muted">Forgot your password? <a href="/forgot-password">Reset it here</a>.</small>
        <br>
        <div class="mb-3 text-center">
          <span class="text-muted">or</span>
        </div>
          <div class="d-grid">
            <a href="<%= discordAuthorizeUrl %>" class="btn" style="background-color:#5865F2; color:#fff;">
              <i class="fab fa-discord"></i> Sign in with Discord
            </a>
          </div>
          <br>
          <small class="text-muted">Don't have an account? You can <a href="/register">register here</a>.</small>
        </div>
        <div class="col-12 col-sm-6" style="min-height:500px;">
          <div class="text-center">
            <img class="floating" style="margin-top:10px;" src="/images/session/loginImage.png" height="300px" draggable="false">
          </div>
        </div>
      </div>
    </div>
</section>

<%- include("../modules/footer.ejs") %>