<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Choose a new password."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Reset password",
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
          <% } %>

          <form method="post" action="<%= process.env.siteAddress %>/reset-password">
            <input type="hidden" name="token" value="<%= token %>">
            <div class="mb-3">
              <label for="password">New password</label>
              <input type="password" class="form-control" name="password" minlength="8" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword">Confirm new password</label>
              <input type="password" class="form-control" name="confirmPassword" minlength="8" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="width: 100%">Update password</button>
            </div>
          </form>
          <br>
          <small class="text-muted"><a href="/login">Return to sign in</a></small>
        </div>
        <div class="col-12 col-sm-6" style="min-height:500px;">
          <div class="text-center">
            <img class="floating" style="margin-top:10px;" src="images/session/loginImage.png" height="300px" draggable="false">
          </div>
        </div>
      </div>
    </div>
</section>

<%- include("../modules/footer.ejs") %>
