<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Choose a new password"
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Reset Password",
  backgroundImage: globalImage
}) %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <% if (req.cookies.alertType) { %>
          <%- include("../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
        <% } %>

        <p class="text-muted">Choose a new password for your account. Make sure it meets our security requirements.</p>

        <form method="post" action="<%= process.env.siteAddress %>/forgot-password/reset">
          <div class="mb-3">
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="width: 100%">Update Password</button>
          </div>
        </form>

        <br>
        <small class="text-muted">Know your password now? <a href="/login">Return to login</a>.</small>
      </div>
      <div class="col-12 col-sm-6" style="min-height:400px;">
        <div class="text-center">
          <img
            class="floating"
            style="margin-top:10px;"
            src="/images/session/registerImage.png"
            height="280px"
            draggable="false"
          >
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../modules/footer.ejs") %>
