<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Verify your email during registration."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Verify your Email",
  backgroundImage: globalImage
}) %>

<script>

</script>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6" style="margin-top: 10px;">
        <% if (req.cookies.alertType) { %>
          <%- include("../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
        <% } %>

        <script>
          $(document).ready(function() {
            var $pincodeInputs = $('.form-control');
            var $submitButton = $('#submitBtn');

            $pincodeInputs.on('input', function() {
              var allFilled = true;

              $pincodeInputs.each(function() {
                if ($(this).val().length !== 1) {
                  allFilled = false;
                  return false; // Exit the loop early if any box is not filled
                }
              });

              $submitButton.prop('disabled', !allFilled);
              
              var $this = $(this);
              var val = $this.val();

              if (val.length === 1) {
                var currentIndex = $pincodeInputs.index(this);
                var nextIndex = currentIndex + 1;

                if (nextIndex < $pincodeInputs.length) {
                  $pincodeInputs.eq(nextIndex).focus();
                }
              }
            });
          });
        </script>

        <div class="container">
        <form id="form">
          <h1 class="mt-4">TWO-FACTOR AUTHENTICATION</h1>
          <p>Enter 6-digit code from your authenticator application</p>
          <div class="form-group row">
            <div class="col-sm-6 col-md-8">
              <div class="input-group mb-3">
                <input type="tel" id="pincode-1" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="1" placeholder="·" autocomplete="off">
                <input type="tel" id="pincode-2" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="2" placeholder="·" autocomplete="off">
                <input type="tel" id="pincode-3" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="3" placeholder="·" autocomplete="off">
                <input type="tel" id="pincode-4" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="4" placeholder="·" autocomplete="off">
                <input type="tel" id="pincode-5" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="5" placeholder="·" autocomplete="off">
                <input type="tel" id="pincode-6" class="form-control" maxlength="1" pattern="[\\d]*" tabindex="6" placeholder="·" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <button type="button" id="submitBtn" class="btn btn-primary" disabled>Continue</button>
            </div>
          </div>
        </form>
      </div>

      </div>
      <div class="col-12 col-md-6" style="min-height:500px; display: flex; align-items: center;">
        <div class="text-center">
          <img class="floating" style="max-width: 100%; height: auto; margin-top:10px;" src="../images/session/registerImage.png" draggable="false">
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../modules/footer.ejs") %>