<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Schedule events for the community to attend."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Event Planner</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <% if (type === 'create') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/event/create">
                                    <% } %>
                                    <% if (type === 'edit') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/event/edit">
                                            <input type="hidden" name="eventId" value="<%= eventApiData.id %>">
                                    <% } %>
                                            <!-- Name of Event -->
                                            <div class="form-group">
                                                <label for="eventName">Event Name</label>

                                                <% if (type === 'create') { %>
                                                    <input type="text" class="form-control input-default " name="eventName" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <input type="text" class="form-control input-default " name="eventName" value="<%= eventApiData.name %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The name of the event.</p>
                                            </div>

                                            <!-- Event Icon -->
                                            <div class="form-group">
                                                <label for="eventIcon">Event Icon</label>

                                                <% if (type === 'create') { %>
                                                    <input type="text" class="form-control input-default " name="eventIcon" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <input type="text" class="form-control input-default " name="eventIcon" value="<%= eventApiData.icon %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The display icon for the event. This should be a .png file link from imgur.<br>The event icon MUST be 250px x 250px.</p>
                                            </div>

                                            <!-- Event Guild Event -->
                                            <div class="form-group">
                                                <label for="guildEventChannel">Guild Event Channel</label>

                                                <% if (type === 'create') { %>
                                                    <input type="text" class="form-control input-default " name="guildEventChannel" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <input type="text" class="form-control input-default " name="guildEventChannel" value="<%= eventApiData.guildEventChannel %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The voice channel ID for where the event will be held.</p>
                                            </div>

                                            <!-- Event Hosting Server -->
                                            <div class="form-group">
                                                <label for="eventHostingServer">Event Hosting Server</label>

                                                <select name="eventHostingServer" class="form-control input-default " required>
                                                    <option value="disabled" selected disabled>Select a Server</option>
                                                    <% serverApiData.forEach(function(server) { %>
                                                        <option value="<%= server.name %>"><%= server.name %></option>
                                                    <% }); %>
                                                </select>

                                                <p class="text-muted m-b-15 f-s-12">The Server for where the event will be held.</p>
                                            </div>

                                            <!-- Event Date and Time -->
                                            <div class="form-group">
                                                <label for="eventDateTime">Event Date and Time</label>

                                                <% if (type === 'create') { %>
                                                    <input type="datetime-local" class="form-control input-default " name="eventDateTime" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <!-- Moment Setting the Date and Time doesn't work in edit mode -->
                                                    <input type="datetime-local" class="form-control input-default " name="eventDateTime" value="<%= moment(eventApiData.eventDateTime).format('YYYY-MM-DDTh:mm') %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The date and time for the event to begin.</p>
                                            </div>

                                            <!-- Event Information -->
                                            <div class="form-group">
                                                <label for="eventInformation">Event Information</label>

                                                <% if (type === 'create') { %>
                                                    <textarea class="form-control" style="height: 150px;" rows="10" name="eventInformation" placeholder="Text input"></textarea>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <textarea class="form-control" style="height: 150px;" rows="10" name="eventInformation" placeholder="Text input"><%= eventApiData.information %></textarea>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">Information for the event that the community needs to know.</p>
                                            </div>

                                            <% if (type === 'create') { %>
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-calendar"></i> Schedule Event</button>
                                            <% } %>

                                            <% if (type === 'edit') { %>
                                                <button type="submit" class="btn btn-warning"><i class="fas fa-calendar"></i> Edit Event</button>
                                            <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>