<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Dashboard for platform"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Events",
  backgroundImage: globalImage
}) %>

<div class="row">
    <div class="col-sm-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col" style="padding: 20px;">
      <a href="/dashboard/events/create"><button type="button" class="btn btn-sm btn-info">Schedule Event</button></a>
      <br><br>

      <% if (req.cookies.alertType) { %>
          <%- include("../../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
      <% } %>
      <div class="table-responsive">
            <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
                alertType: req.cookies.alertType,
                content: req.cookies.alertContent
            }) %>
            <% } %>

          <table class="table table-hover table-responsive-sm">
              <thead>
                  <tr>
                      <th>Display Name</th>
                      <th>Icon</th>
                      <th>Date & Time Start</th>
                      <th>Date & Time End</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <% if (apiData.success == false) { %>
                      <%- include("../../partials/alert.ejs", {
                        alertType: "danger",
                        content: apiData.message
                      }) %>
                  <% } else { %>
                      <% apiData.data.forEach(function (event) { %>
                          <tr>
                              <td><%= event.name %></td>
                              <td><img src="<%= event.icon %>" height="40px" alt="" draggable="false"></td>
                              <td><code><%= moment(event.eventStartDateTime).format('MMMM Do YYYY, h:mm a') %></code></td>
                              <td><code><%= moment(event.eventEndDateTime).format('MMMM Do YYYY, h:mm a') %></code></td>
                              <td>
                                  <div class="btn-group">
                                      <% if (event.published === 1) { %>
                                          <button class="btn btn-sm btn-success" disabled type="button">Published</button>
                                      <% } else { %>
                                          <form action="<%= config.siteConfiguration.siteAddress %>/redirect/event/publish" method="post">
                                              <input type="hidden" name="eventId" value="<%= event.eventId %>">
                                              <button class="btn btn-sm btn-info" type="submit">Publish</button>
                                          </form>
                                      <% } %>

                                      <a href="/dashboard/events/edit?id=<%= event.eventId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                      <form action="<%= config.siteConfiguration.siteAddress %>/redirect/event/delete" method="post">
                                          <input type="hidden" name="eventId" value="<%= event.eventId %>">
                                          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                      </form>
                                  </div>
                              </td>
                          </tr>
                      <% }) %>
                  <% } %>
              </tbody>
          </table>
      </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>