<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The dashboard for the Network Administration Panel"
}) %>

<%- include("../modules/dashboard/dashboard-header.ejs") %>

<div class="container-fluid">
    <div class="row">
        <%- include("../modules/dashboard/dashboard-sidebar.ejs") %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-exclamation-circle text-success border-success"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Announcements</div>
                                    <div class="stat-digit"><%= announcementsCount %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-copy text-primary border-primary"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Applications</div>
                                    <div class="stat-digit"><%= applicationsCount %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-server text-warning border-warning"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Servers</div>
                                    <div class="stat-digit"><%= serversCount %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<%- include("../modules/footer.ejs") %>
