<%- include("../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The backend dashboard."
}) %>

<%- include("../modules/dashboard/sidebar.ejs") %>

<%- include("../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>



            <!-- /# row -->
            <section id="main-content">
                <%- include("../modules/dashboard/statCards.ejs") %>

                <div class="row">

                </div>

<%- include("../modules/dashboard/footer.ejs") %>