<%- include("../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The backend dashboard."
}) %>

<%- include("../modules/dashboard/sidebar.ejs") %>

<%- include("../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <%- include("../modules/dashboard/statCards.ejs") %>

                <div class="row">

                </div>

<%- include("../modules/dashboard/footer.ejs") %>