<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Logs of all Network Administration events."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Logs",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-lg-2 col-md-12">
      <%- include("../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-lg-10 col-md-12" style="padding: 20px;">
        <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        
        <div class="row">
            <% if (apiData.success == false) { %>
                <div class="col-12">
                    <%- include("../partials/alert.ejs", {
                      alertType: "danger",
                      content: apiData.message
                    }) %>
                </div>
            <% } else { %>
                <% apiData.data.forEach(function (log) { %>
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%= log.description %></h5>
                                <p class="card-text"><strong>User:</strong> <%= log.actionedUsername %></p>
                                <p class="card-text"><strong>Type:</strong> <%- include("../partials/logPriorityBadge.ejs", { type: log.logType }) %></p>
                                <p class="card-text"><strong>Feature:</strong> <span class="badge badge-primary"><%= log.logFeature %></span></p>
                                <p class="card-text"><strong>Date:</strong> <%= moment(log.actionedDateTime).startOf('hour').fromNow() %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</div>

<%- include("../modules/footer.ejs") %>