<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Logs of all Network Administration events."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Logs",
  backgroundImage: globalImage
}) %>

<div class="dashboardview">
    <%- include("../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
        <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        
        <ul class="item-list">
            <% if (apiData.success == false) { %>
                <li class="item-list-item">
                    <%- include("../partials/alert.ejs", {
                      alertType: "danger",
                      content: apiData.message
                    }) %>
                </li>
            <% } else { %>
                <% apiData.data.forEach(function (log) { %>
                    <li class="item-list-item">
                        <div class="item-details">
                            <h5><%= log.description %></h5>
                            <p><strong>User:</strong> <%= log.actionedUsername %></p>
                            <p><strong>Type:</strong> <%- include("../partials/logPriorityBadge.ejs", { type: log.logType }) %></p>
                            <p><strong>Feature:</strong> <span class="badge badge-primary"><%= log.logFeature %></span></p>
                            <p><strong>Date:</strong> <%= moment(log.actionedDateTime).startOf('hour').fromNow() %></p>
                        </div>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>

<%- include("../modules/footer.ejs") %>