<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Logs"
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Logs",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-sm-2">
      <%- include("../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col" style="padding: 20px;">
        <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Actioned User</th>
                    <th>Type</th>
                    <th>Feature</th>
                    <th>Description</th>
                    <th>DateTime</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == false) { %>
                    <%- include("../partials/alert.ejs", {
                      alertType: "danger",
                      content: apiData.message
                    }) %>
                <% } else { %>
                    <% apiData.data.forEach(function (log) { %>
                        <tr>
                            <td><%= log.actionedUsername %></td>
                            <td>
                                <%- include("../partials/logPriorityBadge.ejs", {
                                    type: log.logType
                                }) %>
                            </td>
                            <td><span class="badge badge-primary"><%= log.logFeature %></span></td>
                            <td><%= log.description %></td>
                            <td><%= moment(log.actionedDateTime).startOf('hour').fromNow() %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
  </div>

<%- include("../modules/footer.ejs") %>