<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Logs of all Network Administration events."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<%- include("../partials/miniHeader.ejs", {
  headerTitle: "Logs",
  backgroundImage: globalImage
}) %>

<div id="dashboard-wrapper">
    <%- include("../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
        <% if (req.cookies.alertType) { %>
            <%- include("../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        
        <table id="logs-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Actioned User</th>
                    <th>Type</th>
                    <th>Feature</th>
                    <th>Description</th>
                    <th>DateTime</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == true) { %>
                    <% apiData.data.forEach(function (log) { %>
                        <tr>
                            <td><%= log.actionedUsername %></td>
                            <td>
                                <%- include("../partials/logPriorityBadge.ejs", {
                                    type: log.logType
                                }) %>
                            </td>
                            <td><span class="badge badge-primary"><%= log.logFeature %></span></td>
                            <td><%= log.description %></td>
                            <td><%= moment(log.actionedDateTime).startOf('hour').fromNow() %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th>Actioned User</th>
                    <th>Type</th>
                    <th>Feature</th>
                    <th>Description</th>
                    <th>DateTime</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<%- include("../modules/footer.ejs") %>
<script src="/js/dashboard-tables-init.js"></script>