<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Discover Crafting For Christ, a Christian Minecraft server fostering a safe and welcoming community for players to explore faith and creativity together."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "About Us",
  backgroundImage: globalImage
}) %>


<section class="section container">
        <p>Crafting For Christ is a community-driven Christian Minecraft server dedicated to creating a safe and welcoming space for players to explore their faith while enjoying the game we all love.</p>

        <h3>Our Beginnings</h3>
        <p>Crafting For Christ began as a small server hosted out of a home, created by a group of young adults from our local church who wanted to start their own SMP (Survival Multiplayer) experience. Initially, it was a simple, close-knit community where friends could gather, build, and play together.</p>

        <h3>Growth and Expansion</h3>
        <p>Recognizing the joy and connection the server brought to our young adults, we decided to open it up to our youth group. With this expansion, we took significant precautions to ensure the server remained a safe and positive environment for everyone. This commitment to safety and community laid the foundation for what was to come.</p>

        <h3>Our Vision</h3>
        <p>Inspired by our shared faith and love for Minecraft, we envisioned Crafting For Christ as more than just a game server. We wanted it to be a beacon of Christ’s love, a place where players from all walks of life could come together, not just to play, but to grow in their relationship with Jesus. Our mission became clear: to create a Christian Minecraft server that reflects Christ’s love and promotes a world that knows Him.</p>

        <h3>Building a Community</h3>
        <p>Driven by this vision, a dedicated group of members formed a committee to guide the future of Crafting For Christ. We crafted a new identity, upgraded our hardware to provide a better experience, and actively worked to grow our community. Today, Crafting For Christ is a thriving, vibrant community where players can feel safe, valued, and spiritually uplifted.</p>

        <h3>Join Us</h3>
        <p>Whether you're here to build, explore, or connect with fellow believers, Crafting For Christ welcomes you. Together, we can create a world that not only reflects our creativity but also glorifies God. Join us in crafting a community that stands as a testament to Christ's love.</p>

        <hr>

        <%- include("./modules/play/playServerCta.ejs") %>
</section>


<%- include("modules/footer.ejs") %>  