<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Form application page"
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: formApiData.data[0].displayName,
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container" style="width: 60%;">
      <form action="<%= process.env.siteAddress %>/redirect/form/<%= formApiData.data[0].formSlug %>/submit" method="post">
          <% if (formApiData.success == false) { %>
            <%- include("partials/alert.ejs", {
              alertType: "danger",
              content: formApiData.message
            }) %>
          <% } else { %>
            <% formSchemaData.sections.forEach((section, sectionIndex) => { %>
              <h3><%= section.title %></h3>
              <p><%= section.description %></p>
              <hr>

              <% section.prompts.forEach((prompt, promptIndex) => { %>
                <% 
                // Generate a unique elementName with an iterated number
                const elementName = `${formApiData.data[0].formSlug}_${sectionIndex}_${promptIndex}`;
                const questionLabel = prompt.display;
                %>

                <label for="<%= elementName %>"><%= questionLabel %></label>
                <% if (prompt.type == "shortText") { %>
                  <%- include("./partials/form/inputText.ejs", {
                    elementName: elementName,
                    elementValue: null,
                    required: prompt.required
                  }) %>
                <% } %>

                <% if (prompt.type == "number") { %>
                  <%- include("./partials/form/inputNumber.ejs", {
                    elementName: elementName,
                    elementValue: null,
                    required: prompt.required
                  }) %>
                <% } %>

                <% if (prompt.type == "longText") { %>
                  <%- include("./partials/form/inputTextArea.ejs", {
                    elementName: elementName,
                    elementValue: null,
                    required: prompt.required
                  }) %>
                <% } %>

                <% if (prompt.type == "multipleChoice") { %>
                  <%- include("./partials/form/inputSelect.ejs", {
                      elementName: elementName,
                      elementValue: null,  // default value
                      required: prompt.required,
                      optionElements: [
                          { optionName: "Select a Type", optionValue: "null", selected: true, disabled: true },
                          { optionName: "Server Ping MOTD", optionValue: "motd", selected: false, disabled: false },
                          { optionName: "In-Game Tip", optionValue: "tip", selected: false, disabled: false },
                          { optionName: "Website Banner", optionValue: "web", selected: false, disabled: false }
                      ]
                  }) %>
                <% } %>
                <br>
              <% }) %>
            <% }) %>
        <% } %>

        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
    </div>
</section>

<%- include("modules/footer.ejs") %>
