<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Form application page"
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Form",
  backgroundImage: globalImage
}) %>


<section class="section">
    <div class="container" style="width: 60%;">
      <% if (formApiData.success == false) { %>
            <%- include("partials/alert.ejs", {
              alertType: "danger",
              content: formApiData.message
            }) %>
          <% } else { %>
            <% formSchemaData.sections.forEach(section => { %>
              <h3><%= section.sectionTitle %></h3>
              <p><%= section.sectionDescription %></p>
              <hr>

              <% section.prompts.forEach(prompt => { %>
                <%= console.log(prompt); %>

                <label for=""><%= prompt.promptDisplay %></label>
                <%- include("./partials/form/inputText.ejs", {
                    elementName: "body",
                    elementValue: null,
                    required: prompt.required
                }) %>
               
              <% }) %>
            <% }) %>
        <% } %>
    </div>
</section>

<%- include("modules/footer.ejs") %>  