<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Get involved in the community and join in Community Events!"
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Events",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
    <div class="container">
      <% if (apiData.success == false) { %>
        <%- include("./partials/alert.ejs", {
          alertType: "danger",
          content: apiData.message
        }) %>
      <% } else { %>
        <% apiData.data.forEach(function (notification) { %>
          <table class="table">
            <tbody>
              <tr>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>

          <!-- <%= event.name %> Event Card -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-">
                  <img src="<%= event.icon %>" width="250px" height="250px" draggable="false">
                </div>
                <div class="col">
                  <a href="#" style="color:black; text-decoration:none;"><h3><%= event.name %></h3></a>
                  <h6><%= moment(event.eventDateTime).format('MMMM Do YYYY, h:mm a') %></h6>
                  <small>Event date and time is respective of the current Australian timezone.</small>
                  <br><br>
                  <div>
                    <p><%= event.information %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        <% }) %>
      <% } %>

    </div>
</section>

<%- include("modules/footer.ejs") %>  