<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Report a player for crimes on all platforms."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Report A Player",
  backgroundImage: globalImage
}) %>

<section class="section">
  <div class="container" style="width: 50%;">
      <form method="post" action="<%= process.env.siteAddress %>/redirect/report/create">
        <input type="hidden" name="reporterUser" value="<%= req.session.user.username %>">

        <!-- Reported User -->
        <label for="reportedUser">User to Report</label>
          <!-- <input type="text" class="form-control input-default " name="reportedUser" required> -->
          <input type="text" id="reportedUser" name="reportedUser" list="search-options">
          <datalist id="search-options">
            <option value="Apple">
            <option value="Banana">
            <option value="Cherry">
            <option value="Durian">
            <option value="Elderberry">
            <option value="Fig">
          </datalist>



          <br>

        <!-- Reason -->
        <label for="reason">Reason</label>
          <input type="text" class="form-control input-default " name="reason" required>
          <br>

        <!-- Evidence -->
        <label for="evidence">Evidence</label>
          <%- include("./partials/summerNoteEditor.ejs", {
              editorElementName: "evidenceEditor",
              editorPOSTElementName: "evidence"
          }) %>

        <div class="row">
          <div class="col-sm">
            <!-- Platform -->
            <label for="evidence">Platform</label>
              <select name="platform" class="form-control input-default " required>
                <option value="disabled" selected disabled>Select a Platform</option>
                <option value="INGAME">In Game</option>
                <option value="DISCORD">Discord</option>
                <!-- <option value="WEBSITE">Website</option> -->
              </select>
          </div>

          <div class="col-sm">
            <!-- Server -->
            <label for="evidence">Server</label>
              <select name="server" class="form-control input-default ">
                <option value="disabled" selected disabled>Select a Server</option>
                <% serverApiData.forEach(function(server) { %>
                    <option value="<%= server.name %>"><%= server.name %></option>
                <% }); %>
              </select>
              <small class="text-muted m-b-15 f-s-12">If you selected INGAME, what Server did this happen on?</small>
          </div>
        </div>
        <br>
        
        <button type="submit" class="btn btn-primary"><i class="fas fa-book"></i> Submit Report</button>
    </form>
  </div>
</section>

<%- include("modules/footer.ejs") %>  