<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Report inappropriate behavior, harassment, cheating, or any other misconduct by a player to help us maintain a safe and respectful gaming environment."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Report a Player",
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <p>If you've encountered a player having inappropriate behavior, harassment, or cheating, please use the form below to report the player. Your submission is crucial in helping us maintain a positive and respectful gaming community. Our moderation team will review all reports to ensure the appropriate actions are taken to uphold the integrity of our platform. Thank you for your cooperation.</p>
    </div>

    <div class="container">
      <form method="post" action="<%= process.env.siteAddress %>/redirect/report/create">
        <label for="reportedUsername">User to Report</label>
        <%- include("partials/form/inputText.ejs", {
            elementName: "reportedUsername",
            required: true,
            elementValue: null
        }) %>
        <br>

        <label for="reportReason">Report Reason</label>
        <%- include("partials/form/inputText.ejs", {
            elementName: "reportReason",
            required: true,
            elementValue: null
        }) %>
        <br>

        <label for="reportReasonEvidence">Report Reason Evidence</label>
        <%- include("partials/form/inputTextArea.ejs", {
            elementName: "reportReasonEvidence",
            required: false,
            elementValue: null
        }) %>
        <br><br>

        <button type="submit" class="btn btn-primary">Submit Report</button>
      </form>
</section>

<%- include("modules/footer.ejs") %>