<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Been punished wrongly and want to be appealed? Select your punishment and state your case."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Report Card",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <td><h4>Reported User</h4></td>
          <td><h4>Reporter</h4></td>
          <td><h4>Server</h4></td>
        </tr>
        <tr>
          <td><img style="border-radius: 15px; padding-right: 10px;" src="https://crafatar.com/avatars/<%= apiData.data[0].reportedUserUUID %>?helm" height="25px" draggable="false"><%= apiData.data[0].reportedUser %></td>
          <td><img style="border-radius: 15px; padding-right: 10px;" src="https://crafatar.com/avatars/<%= apiData.data[0].reporterUserUUID %>?helm" height="25px" draggable="false"><%= apiData.data[0].reporterUser %></td>
          <td><%= apiData.data[0].reportedServer %></td>
        </tr>
        <tr>
          <td><h4>Reason</h4></td>
          <td colspan="2"><h4>Evidence</h4></td>
        </tr>
        <tr>
          <td><%= apiData.data[0].reason %></td>
          <td colspan="2"><%= apiData.data[0].evidence %></td>
        </tr>
      </tbody>
    </table>
    
    <small>Created on: <%= moment(apiData.data[0].createdDate).format('MMMM Do YYYY, h:mm a') %></small>
  </div>
</section>

<%- include("modules/footer.ejs") %>  