<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "A view of all our staff that help out the Network."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Staff",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
    <div class="container">
      <small>Meet the Network Staff Team!<br>
        These are the people to look for when you have problems, questions, etc.<br>
        They work hard to ensure you you have the best experience possible during your stay.<br>
        <b>People on here are 100% volunteers.</b> They set apart time to ensure that you get the best quality experience.<br><br>
        
        If you think any of these people are engaging in behavior that is unacceptable, please send an <a style="color: rgb(75, 64, 224);" href="mailto:<%= config.siteConfiguration.email %>">e-mail to our Support Team</a> or <a style="color: rgb(75, 64, 224);" href="/discord">join our Community Discord and open a ticket</a>.</small>
        <br><br>

      <div style="font-size:12pt;">
        <hr>
        <h4 style="margin-bottom:15px;">Administrator <small style="font-size: 10pt; padding-left: 10px;">1</small></h4>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li style="text-align: center;">
                <a href="/profile/#"><img class="staffimg" src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/#">shadowolfyt</a><br><small style="line-height:0pt;">WOW I AM ADMIN</small></p>
          </div>
          <br>
      </div>
    
    </div>
</section>

<%- include("modules/footer.ejs") %>  