<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The place to get all help and assistance within and on the Network"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Knowledgebase",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>
  
  
  <section class="section">
      <div class="container">
        <div>
          <div class="row">

            <% if (apiData.success == false) { %>
              <%- include("../../partials/alert.ejs", {
                alertType: "danger",
                content: apiData.message
              }) %>
              <% } else { %>
              <% apiData.data.forEach(function (section) { %>
                <!-- <%= section.sectionName %> -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-item mb-4">
                    <div class="feature-item mb-5 mb-lg-0">
                      <div class="feature-icon mb-4">
                        <i class="<%= section.sectionIcon %>"></i>
                      </div>
                      <h4 class="mb-3"><%= section.sectionName %></h4>
                      <small><%= section.description %></small>
                      <br><br>

                      <div><a href="">List Item</a></div>
                      <div><a href="">List Item</a></div>
                      <div><a href="">List Item</a></div>
                    </div>
                  </div>
                </div>
              <% }) %>
              <% } %>
              
        </div>
      </div>
  </section>

<%- include("../../modules/footer.ejs") %>  