<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Create a new shop to adveritise on the Shopping District Directory."
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("../../miniHeader.ejs", {
  headerTitle: "Create New Shop",
  backgroundImage: globalImage
}) %>


<section class="section">
    <div class="container">
      <form method="post" action="/shoppingDistrictDirectory/shop/submit">
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group">
              <label for="shopName">Shop Name</label>
              <input type="text" class="form-control" name="shopName" required>
            </div>
            <div class="form-group">
              <label for="shopDescription">Shop Description</label>
              <input type="text" class="form-control" name="shopDescription" required>
            </div>            
          </div>

          <div class="col-lg-7">
            <div class="table-responsive">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Texture</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Cobblestone</th>
                            <td>
                              <div class="dropdown">
                                <button onclick="myFunction()" class="btm-sm btn btn-primary">Dropdown</button>
                                <div id="myDropdown" class="dropdown-content">
                                  <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                    <% minecraftItem.forEach(function(item) { %>
                                      <a href="#<%= item %>"><img src="../images/minecraftItemImages/<%= item %>" style="padding-right: 5px;" alt=""><small><%= item %></small><br></a>
                                    <% }); %>
                                </div>
                              </div>
                            </td>
                            <td>$1</td>
                            <td>64</td>
                        </tr>
                        <tr>
                          <th>Cobblestone</th>
                          <td>./img/items/cobblestone.png</td>
                          <td>$1</td>
                          <td>64</td>
                        </tr>
                        <tr>
                          <th>Cobblestone</th>
                          <td>./img/items/cobblestone.png</td>
                          <td>$1</td>
                          <td>64</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
              
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" style="margin:0 auto; width: 30%">Create</button>
        </div>
      </form>
    </div>
</section>

<style>
  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>

<script>
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

<%- include("../../modules/footer.ejs") %>  