<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Announcements"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Announcements",
  backgroundImage: globalImage
}) %>

<div id="dashboard-wrapper">
    <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
        <a href="/dashboard/announcements/create"><button type="button" class="btn btn-sm btn-info">Create Announcement</button></a>
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/announcement/"
        }) %>
        <br><br>

        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        
        <table id="announcements-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Format</th>
                    <th>Enabled</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == true) { %>
                    <% apiData.data.forEach(function (announcement) { %>
                        <tr>
                            <td><span class="badge badge-primary"><%= announcement.announcementType %></span></td>
                            <td><%- announcement.colourMessageFormat %></td>
                            <td>
                                <% if (announcement.enabled === 1) { %>
                                    <span class="badge badge-success">Enabled</span>
                                <% } else { %>
                                    <span class="badge badge-danger">Disabled</span>
                                <% } %>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="/dashboard/announcements/edit?announcementId=<%= announcement.announcementId %>" class="btn btn-sm btn-warning">Edit</a>
                                    <form action="<%= process.env.siteAddress %>/redirect/announcement/delete" method="post" class="d-inline">
                                        <input type="hidden" name="announcementId" value="<%= announcement.announcementId %>">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th>Type</th>
                    <th>Format</th>
                    <th>Enabled</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
<script src="/js/dashboard-tables-init.js"></script>