<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Add and edit Announcements for displaying information around the Network."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Announcement Editor</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <% if (type === 'create') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.redirectRoute %>/announcement/create">
                                    <% } %>
                                    <% if (type === 'edit') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.redirectRoute %>/announcement/edit">
                                            <%- include("../../partials/form/inputHidden.ejs", {
                                                elementName: "announcementSlug",
                                                elementValue: announcementApiData.announcementSlug
                                            }) %>
                                    <% } %>
                                            <div class="row">
                                                <!-- Announcement Slug -->
                                                <div class="form-group col">
                                                    <label for="name">Announcement Slug</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "announcementSlug",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "announcementSlug",
                                                            elementValue: announcementApiData.announcementSlug,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The unique slug name for the announcement.</p>
                                                </div>

                                                <!-- Announcement Type -->
                                                <div class="form-group col">
                                                    <label for="announcementType">Announcement Type</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "announcementType",
                                                            elementValue: "null",
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Type",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Server Ping MOTD",
                                                                    optionValue: "motd",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "In-Game Tip",
                                                                    optionValue: "tip",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Website Banner",
                                                                    optionValue: "web",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "announcementType",
                                                            elementValue: announcementApiData.announcementType,
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Type",
                                                                    optionValue: null,
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Server Ping MOTD",
                                                                    optionValue: "motd",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "In-Game Tip",
                                                                    optionValue: "tip",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Website Banner",
                                                                    optionValue: "web",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                </div>
                                            </div>

                                            <!-- Banner Body -->
                                            <div class="form-group">
                                                <label for="body">Banner Body</label>

                                                <% if (type === 'create') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "body",
                                                        elementValue: null,
                                                        required: false
                                                    }) %>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "body",
                                                        elementValue: announcementApiData.body,
                                                        required: false
                                                    }) %>
                                                <% } %>
                                            </div>

                                            <!-- Colour Message Body Format -->
                                            <div class="form-group">
                                                <label for="colourMessageFormat">Colour Message Format</label>

                                                <% if (type === 'create') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "colourMessageFormat",
                                                        elementValue: null,
                                                        required: false
                                                    }) %>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "colourMessageFormat",
                                                        elementValue: announcementApiData.colourMessageFormat,
                                                        required: false
                                                    }) %>
                                                <% } %>
                                            </div>

                                            <div class="row">
                                                <!-- Announcement Link -->
                                                <div class="form-group col">
                                                    <label for="position">Announcement Link</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "link",
                                                            elementValue: null,
                                                            required: false
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "link",
                                                            elementValue: announcementApiData.link,
                                                            required: false
                                                        }) %>
                                                    <% } %>
                                                </div>

                                                <!-- Announcement Visability -->
                                                <div class="form-group col">
                                                    <label for="enabled">Announcement Visability</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "enabled",
                                                            elementValue: "null",
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Visability",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Enabled",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Disabled",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "enabled",
                                                            elementValue: announcementApiData.enabled,
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Visability",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Enabled",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Disabled",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                </div>
                                            </div>

                                            <% if (type === 'create') { %>
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-server"></i> Create Announcement</button>
                                            <% } %>

                                            <% if (type === 'edit') { %>
                                                <button type="submit" class="btn btn-warning"><i class="fas fa-server"></i> Edit Announcement</button>
                                            <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>