<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all Announcements that the Network is currently cyling and broadcasting."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Announcements</h4>
                                <a href="/dashboard/announcements/create"><button type="button" class="btn btn-sm btn-info">Create an Announcement</button></a>
                            </div>
                            <div class="card-body">
                                <% if (request.cookies.alertType) { %>
                                    <%- include("../../partials/alert.ejs", {
                                      alertType: request.cookies.alertType,
                                      content: request.cookies.alertContent
                                    }) %>
                                <% } %>
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Slug Name</th>
                                            <th>Type</th>
                                            <th>Format</th>
                                            <th>Enabled</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (apiData.success == false) { %>
                                            <%- include("../../partials/alert.ejs", {
                                              alertType: "danger",
                                              content: apiData.message
                                            }) %>
                                        <% } else { %>
                                            <% apiData.data.forEach(function (announcement) { %>
                                                <tr>
                                                    <td><%= announcement.announcementSlug %></td>
                                                    <td><span class="badge badge-primary"><%= announcement.announcementType %></span></td>
                                                    <td><%= announcement.colourMessageFormat %></td>
                                                    <td>
                                                        <% if (announcement.enabled === 1) { %>
                                                            <i class="fas fa-check-circle" style="color:green"></i>
                                                        <% } else { %>
                                                            <i class="fas fa-times-circle" style="color: red;"></i>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="/dashboard/announcements/edit?id=<%= announcement.announcementSlug %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                                            <form action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.redirectRoute %>/announcements/delete" method="post">
                                                                <input type="hidden" name="announcementSlug" value="<%= announcement.announcementSlug %>">
                                                                <button class="btn btn-sm btn-danger" type="submit" onclick="window.location='/dashboard/announcements/'">Delete</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>