<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Applications"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Applications",
  backgroundImage: globalImage
}) %>

<div id="dashboard-wrapper">
    <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
        <a href="/dashboard/applications/create"><button type="button" class="btn btn-sm btn-info">Create Application</button></a>
        <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/application/"
        }) %>
        <br><br>

        <% if (req.cookies.alertType) { %>
            <%- include("../../partials/alert.ejs", {
              alertType: req.cookies.alertType,
              content: req.cookies.alertContent
            }) %>
        <% } %>
        <table id="applications-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (apiData.success == true) { %>
                    <% apiData.data.forEach(function (application) { %>
                        <tr>
                            <td><i class="<%= application.displayIcon %>"></i></td>
                            <td><%= application.displayName %></td>
                            <td><%= application.description %></td>
                            <td>
                                <% if (application.applicationStatus === 1) { %>
                                    <span class="badge badge-success">Open</span>
                                <% } else { %>
                                    <span class="badge badge-danger">Closed</span>
                                <% } %>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="/dashboard/applications/edit?applicationId=<%= application.applicationId %>" class="btn btn-sm btn-warning">Edit</a>
                                    <form action="<%= process.env.siteAddress %>/redirect/application/delete" method="post" class="d-inline">
                                        <input type="hidden" name="applicationId" value="<%= application.applicationId %>">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
<script src="/js/dashboard-tables-init.js"></script>