<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Editor for Network Applications"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../modules/dashboard/dashboard-header.ejs") %>

<div class="container my-4">
    <div class="row g-4">
        <div class="col-lg-3">
            <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
        </div>
        <main class="col-lg-9">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><%= type === 'create' ? 'Create' : 'Edit' %> Application</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <%- include("../../partials/documentationLink.ejs", {
                        doclink: "https://modularsoft.org/docs/products/zander/features/application/"
                    }) %>
                </div>
            </div>

            <div class="basic-form">
                <% if (type === 'create') { %>
                    <form method="post" action="<%= process.env.siteAddress %>/redirect/applications/create">
                <% } %>
                <% if (type === 'edit') { %>
                    <form method="post" action="<%= process.env.siteAddress %>/redirect/applications/edit">
                        <%- include("../../partials/form/inputHidden.ejs", {
                            elementName: "applicationId",
                            elementValue: applicationApiData.applicationId
                        }) %>
                <% } %>

                  <div class="row">
                      <!-- Display Name -->
                      <div class="mb-3 col">
                          <label for="displayName">Display Name</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "displayName",
                                  elementValue: null,
                                  required: true
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "displayName",
                                  elementValue: applicationApiData.displayName,
                                  required: true
                              }) %>
                          <% } %>
                      </div>

                      <!-- Application Icon -->
                      <div class="mb-3 col">
                          <label for="displayIcon">Application Icon</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "displayIcon",
                                  elementValue: null,
                                  required: true
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "displayIcon",
                                  elementValue: applicationApiData.displayIcon,
                                  required: true
                              }) %>
                          <% } %>
                      </div>
                  </div>

                  <!-- Application Description -->
                  <div class="mb-3">
                      <label for="description">Application Description</label>

                      <% if (type === 'create') { %>
                          <%- include("../../partials/form/inputTextArea.ejs", {
                              elementName: "description",
                              elementValue: null,
                              required: false
                          }) %>
                      <% } %>
                      <% if (type === 'edit') { %>
                          <%- include("../../partials/form/inputTextArea.ejs", {
                              elementName: "description",
                              elementValue: applicationApiData.description,
                              required: false
                          }) %>
                      <% } %>
                  </div>

                  <div class="row">
                      <!-- Application Requirements Markdown Link -->
                      <div class="mb-3 col">
                          <label for="requirementsMarkdown">Application Requirements Markdown Link</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "requirementsMarkdown",
                                  elementValue: null,
                                  required: true
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "requirementsMarkdown",
                                  elementValue: applicationApiData.requirementsMarkdown,
                                  required: true
                              }) %>
                          <% } %>
                      </div>

                      <!-- Application URL Redirect -->
                      <div class="mb-3 col">
                          <label for="redirectUrl">Application URL Redirect</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "redirectUrl",
                                  elementValue: null,
                                  required: true
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "redirectUrl",
                                  elementValue: applicationApiData.redirectUrl,
                                  required: true
                              }) %>
                          <% } %>
                      </div>
                  </div>

                  <div class="row">
                      <!-- Application Position -->
                      <div class="mb-3 col">
                          <label for="position">Application Position</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "position",
                                  elementValue: null,
                                  required: true
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputText.ejs", {
                                  elementName: "position",
                                  elementValue: applicationApiData.position,
                                  required: true
                              }) %>
                          <% } %>
                      </div>

                      <!-- Application Status -->
                      <div class="mb-3 col">
                          <label for="applicationStatus">Application Status</label>

                          <% if (type === 'create') { %>
                              <%- include("../../partials/form/inputSelect.ejs", {
                                  elementName: "applicationStatus",
                                  elementValue: "null",
                                  required: true,
                                  optionElements: [
                                      {
                                          optionName: "Select a Status",
                                          optionValue: "null",
                                          selected: true,
                                          disabled: true
                                      },
                                      {
                                          optionName: "Open",
                                          optionValue: "1",
                                          selected: false,
                                          disabled: false
                                      },
                                      {
                                          optionName: "Closed",
                                          optionValue: "0",
                                          selected: false,
                                          disabled: false
                                      }
                                  ]
                              }) %>
                          <% } %>
                          <% if (type === 'edit') { %>
                              <%- include("../../partials/form/inputSelect.ejs", {
                                  elementName: "applicationStatus",
                                  elementValue: applicationApiData.applicationStatus,
                                  required: true,
                                  optionElements: [
                                      {
                                          optionName: "Select a Status",
                                          optionValue: "null",
                                          selected: true,
                                          disabled: true
                                      },
                                      {
                                          optionName: "Open",
                                          optionValue: "1",
                                          selected: false,
                                          disabled: false
                                      },
                                      {
                                          optionName: "Closed",
                                          optionValue: "0",
                                          selected: false,
                                          disabled: false
                                      }
                                  ]
                              }) %>
                          <% } %>
                      </div>
                  </div>

                  <% if (type === 'create') { %>
                      <button type="submit" class="btn btn-primary"><i class="fal fa-copy"></i> Create Application</button>
                  <% } %>

                  <% if (type === 'edit') { %>
                      <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit Application</button>
                  <% } %>
                </form>
            </div>
        </main>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
