<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Add applications for community to apply for."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Application Editor</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <% if (type === 'create') { %>
                                        <form method="post" action="<%= process.env.siteAddress %><%= config.siteConfiguration.redirectRoute %>/application/create">
                                    <% } %>
                                    <% if (type === 'edit') { %>
                                        <form method="post" action="<%= process.env.siteAddress %><%= config.siteConfiguration.redirectRoute %>/application/edit">
                                            <%- include("../../partials/form/inputHidden.ejs", {
                                                elementName: "applicationId",
                                                elementValue: applicationApiData.applicationId
                                            }) %>
                                    <% } %>
                                            <div class="row">
                                                <!-- Display Name -->
                                                <div class="form-group col">
                                                    <label for="displayName">Display Name</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "displayName",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "displayName",
                                                            elementValue: applicationApiData.displayName,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The display name for the application.</p>
                                                </div>

                                                <!-- Application Icon -->
                                                <div class="form-group col">
                                                    <label for="displayIcon">Application Icon</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "displayIcon",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "displayIcon",
                                                            elementValue: applicationApiData.displayIcon,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The display icon for the application. Please select one from <a href="https://fontawesome.com/v5/search">FontAwesome</a></p>
                                                </div>
                                            </div>                                            

                                            <!-- Application Description -->
                                            <div class="form-group">
                                                <label for="description">Application Description</label>

                                                <% if (type === 'create') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "description",
                                                        elementValue: null,
                                                        required: false
                                                    }) %>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <%- include("../../partials/form/inputTextArea.ejs", {
                                                        elementName: "description",
                                                        elementValue: applicationApiData.description,
                                                        required: false
                                                    }) %>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">Small description and information for the role.</p>
                                            </div>

                                            <div class="row">
                                                <!-- Application Requirements Markdown Link -->
                                                <div class="form-group col">
                                                    <label for="requirementsMarkdown">Application Requirements Markdown Link</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "requirementsMarkdown",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "requirementsMarkdown",
                                                            elementValue: applicationApiData.requirementsMarkdown,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">A link to the application's requirments markdown, RAW Markdown.</p>
                                                </div>

                                                <!-- Application URL Redirect -->
                                                <div class="form-group col">
                                                    <label for="redirectUrl">Application URL Redirect</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "redirectUrl",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "redirectUrl",
                                                            elementValue: applicationApiData.redirectUrl,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The URL to redirect to for the applicant to fill out (for example like a form)</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Application Position -->
                                                <div class="form-group col">
                                                    <label for="position">Application Position</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "position",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "position",
                                                            elementValue: applicationApiData.position,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                </div>

                                                <!-- Application Status -->
                                                <div class="form-group col">
                                                    <label for="applicationStatus">Application Status</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "closed",
                                                            elementValue: "null",
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Status",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Open",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Closed",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "closed",
                                                            elementValue: applicationApiData.closed,
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Status",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Open",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Closed",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">Specify if the application is Open or Closed.</p>
                                                </div>
                                            </div>

                                            <% if (type === 'create') { %>
                                                <button type="submit" class="btn btn-primary"><i class="fal fa-copy"></i> Create Application</button>
                                            <% } %>

                                            <% if (type === 'edit') { %>
                                                <button type="submit" class="btn btn-warning"><i class="fal fa-copy"></i> Edit Application</button>
                                            <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>