<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all applications for Network roles"
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Applications</h4>
                                <a href="/dashboard/applications/create"><button type="button" class="btn btn-sm btn-info">Create a Application</button></a>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (apiData.success == false) { %>
                                            <%- include("../../partials/alert.ejs", {
                                              alertType: "danger",
                                              content: apiData.message
                                            }) %>
                                        <% } else { %>
                                            <% apiData.data.forEach(function (application) { %>
                                                <tr>
                                                    <td><i class="<%= application.displayIcon %>"></i></td>
                                                    <td><%= application.displayName %></td>
                                                    <td><%= application.description %></td>
                                                    <td>
                                                        <% if (application.closed === 0) { %>
                                                            <i class="fas fa-check-circle" style="color:green"></i>
                                                        <% } else { %>
                                                            <i class="fas fa-times-circle" style="color: red;"></i>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="/dashboard/applications/edit?id=<%= application.applicationId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                                            <form action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/applications/delete" method="post">
                                                                <input type="hidden" name="serverId" value="<%= application.applicationId %>">
                                                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>