<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Dashboard for platform"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Article Editor",
  backgroundImage: globalImage
}) %>

<div class="row">
    <div class="col-sm-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col" style="padding: 20px;">
        <div class="basic-form">
            <% if (type === 'create') { %>
                <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/knowledgebase/article/create">
            <% } %>
            <% if (type === 'edit') { %>
                <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/knowledgebase/article/update">
                    <%- include("../../partials/form/inputHidden.ejs", {
                        elementName: "slug",
                        elementValue: kbApiData.articleSlug
                    }) %>
            <% } %>
                    <div class="row">
                        <%- include("../../partials/form/inputHidden.ejs", {
                            elementName: "actioningUser",
                            elementValue: req.session.user.userId
                        }) %>
                        
                        <!-- Name of Article Slug -->
                        <div class="form-group col">
                            <label for="articleSlug">Article Slug</label>

                            <% if (type === 'create') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articleSlug",
                                    elementValue: null,
                                    required: true
                                }) %>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articleSlug",
                                    elementValue: kbApiData.articleSlug,
                                    required: true
                                }) %>
                            <% } %>
                        </div>

                        <!-- Name of Article -->
                        <div class="form-group col">
                            <label for="articleName">Article Display Name</label>

                            <% if (type === 'create') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articleName",
                                    elementValue: null,
                                    required: true
                                }) %>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articleName",
                                    elementValue: kbApiData.articleName,
                                    required: true
                                }) %>
                            <% } %>
                        </div>
                    </div>

                    <!-- Description of Article -->
                    <div class="form-group">
                        <label for="articleName">Article Description</label>

                        <% if (type === 'create') { %>
                            <%- include("../../partials/form/inputTextArea.ejs", {
                                elementName: "articleDescription",
                                elementValue: null,
                                required: false
                            }) %>
                        <% } %>
                        <% if (type === 'edit') { %>
                            <%- include("../../partials/form/inputTextArea.ejs", {
                                elementName: "articleDescription",
                                elementValue: kbApiData.articleDescription,
                                required: false
                            }) %>
                        <% } %>
                    </div>

                    <!-- Link to Markdown -->
                    <div class="form-group">
                        <label for="articleLink">Article Markdown Link</label>

                        <% if (type === 'create') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "articleLink",
                                elementValue: null,
                                required: true
                            }) %>
                        <% } %>
                        <% if (type === 'edit') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "articleLink",
                                elementValue: kbApiData.articleLink,
                                required: true
                            }) %>
                        <% } %>
                    </div>

                    <div class="row">
                        <!-- Article Section -->
                        <div class="form-group col">
                            <label for="articleSection">Article Section</label>

                            <% if (type === 'create') { %>
                                <select name="articleSection" class="form-control input-default " required>
                                    <option value="disabled" selected disabled>Select a Section</option>
                                    <% sectionApiData.forEach(function(section) { %>
                                        <option value="<%= section.sectionId %>"><%= section.sectionName %></option>
                                    <% }); %>
                                </select>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <select name="articleSection" id="articleSection" class="form-control input-default " required>
                                    <option value="disabled" selected disabled>Select a Section</option>
                                    <% sectionApiData.forEach(function(section) { %>
                                        <option value="<%= section.sectionId %>"><%= section.sectionName %></option>
                                    <% }); %>
                                </select>
                            <% } %>
                        </div>

                        <!-- Article Position -->
                        <div class="form-group col">
                            <label for="articlePosition">Article Position</label>

                            <% if (type === 'create') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articlePosition",
                                    elementValue: null,
                                    required: true
                                }) %>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <%- include("../../partials/form/inputText.ejs", {
                                    elementName: "articlePosition",
                                    elementValue: kbApiData.position,
                                    required: true
                                }) %>
                            <% } %>
                        </div>

                        <!-- Article Published -->
                        <div class="form-group col">
                            <label for="articlePublished">Article Published</label>

                            <% if (type === 'create') { %>
                                <%- include("../../partials/form/inputSelect.ejs", {
                                    elementName: "articlePublished",
                                    elementValue: "null",
                                    required: false,
                                    optionElements: [
                                        {
                                            optionName: "Select a Status",
                                            optionValue: "null",
                                            selected: true,
                                            disabled: true
                                        },
                                        {
                                            optionName: "Published",
                                            optionValue: "1",
                                            selected: false,
                                            disabled: false
                                        },
                                        {
                                            optionName: "Unpublished",
                                            optionValue: "0",
                                            selected: false,
                                            disabled: false
                                        }
                                    ]
                                }) %>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <%- include("../../partials/form/inputSelect.ejs", {
                                    elementName: "articlePublished",
                                    elementValue: kbApiData.published,
                                    required: false,
                                    optionElements: [
                                        {
                                            optionName: "Select a Status",
                                            optionValue: "null",
                                            selected: true,
                                            disabled: true
                                        },
                                        {
                                            optionName: "Published",
                                            optionValue: "1",
                                            selected: false,
                                            disabled: false
                                        },
                                        {
                                            optionName: "Unpublished",
                                            optionValue: "0",
                                            selected: false,
                                            disabled: false
                                        }
                                    ]
                                }) %>
                            <% } %>
                        </div>

                        <!-- Article Unlisted -->
                        <div class="form-group col">
                            <label for="articleUnlisted">Article Unlisted</label>

                            <% if (type === 'create') { %>
                                <%- include("../../partials/form/inputSelect.ejs", {
                                    elementName: "articleUnlisted",
                                    elementValue: "null",
                                    required: false,
                                    optionElements: [
                                        {
                                            optionName: "Select a Status",
                                            optionValue: "null",
                                            selected: true,
                                            disabled: true
                                        },
                                        {
                                            optionName: "Enabled",
                                            optionValue: "1",
                                            selected: false,
                                            disabled: false
                                        },
                                        {
                                            optionName: "Disabled",
                                            optionValue: "0",
                                            selected: false,
                                            disabled: false
                                        }
                                    ]
                                }) %>
                            <% } %>
                            <% if (type === 'edit') { %>
                                <%- include("../../partials/form/inputSelect.ejs", {
                                    elementName: "articleUnlisted",
                                    elementValue: kbApiData.unlisted,
                                    required: false,
                                    optionElements: [
                                        {
                                            optionName: "Select a Status",
                                            optionValue: "null",
                                            selected: true,
                                            disabled: true
                                        },
                                        {
                                            optionName: "Enabled",
                                            optionValue: "1",
                                            selected: false,
                                            disabled: false
                                        },
                                        {
                                            optionName: "Disabled",
                                            optionValue: "0",
                                            selected: false,
                                            disabled: false
                                        }
                                    ]
                                }) %>
                            <% } %>
                        </div>
                    </div>

                    <% if (type === 'create') { %>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-book"></i> Create Article</button>
                    <% } %>

                    <% if (type === 'edit') { %>
                        <button type="submit" class="btn btn-warning"><i class="fas fa-book"></i> Edit Article</button>
                    <% } %>
            </form>
        </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>