<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Dashboard for platform"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Section Editor",
  backgroundImage: globalImage
}) %>

<div class="row">
    <div class="col-sm-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col" style="padding: 20px;">
        <% if (type === 'create') { %>
            <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/knowledgebase/section/create">
        <% } %>
        <% if (type === 'edit') { %>
            <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/knowledgebase/section/update">
                <%- include("../../partials/form/inputHidden.ejs", {
                    elementName: "slug",
                    elementValue: kbApiData.sectionSlug
                }) %>
        <% } %>
                <!-- Name of Section Slug -->
                <div class="form-group">
                    <label for="sectionSlug">Section Slug</label>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "sectionSlug",
                            elementValue: null,
                            required: true
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "sectionSlug",
                            elementValue: kbApiData.sectionSlug,
                            required: true
                        }) %>
                    <% } %>
                </div>

                <!-- Name of Section -->
                <div class="form-group">
                    <label for="sectionName">Section Display Name</label>

                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "sectionName",
                            elementValue: null,
                            required: true
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputText.ejs", {
                            elementName: "sectionName",
                            elementValue: kbApiData.sectionName,
                            required: true
                        }) %>
                    <% } %>
                </div>

                <!-- Section Description -->
                <div class="form-group">
                    <label for="sectionDescription">Section Description</label>
                    
                    <% if (type === 'create') { %>
                        <%- include("../../partials/form/inputTextArea.ejs", {
                            elementName: "sectionDescription",
                            elementValue: null,
                            required: false
                        }) %>
                    <% } %>
                    <% if (type === 'edit') { %>
                        <%- include("../../partials/form/inputTextArea.ejs", {
                            elementName: "sectionDescription",
                            elementValue: kbApiData.description,
                            required: false
                        }) %>
                    <% } %>
                </div>

                <div class="row">
                    <!-- Section Icon -->
                    <div class="form-group col">
                        <label for="sectionIcon">Section Icon</label>

                        <% if (type === 'create') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "sectionIcon",
                                elementValue: null,
                                required: true
                            }) %>
                        <% } %>
                        <% if (type === 'edit') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "sectionIcon",
                                elementValue: kbApiData.sectionIcon,
                                required: true
                            }) %>
                        <% } %>
                    </div>

                    <!-- Section Position -->
                    <div class="form-group col">
                        <label for="sectionPosition">Section Position</label>

                        <% if (type === 'create') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "sectionPosition",
                                elementValue: null,
                                required: true
                            }) %>
                        <% } %>
                        <% if (type === 'edit') { %>
                            <%- include("../../partials/form/inputText.ejs", {
                                elementName: "sectionPosition",
                                elementValue: kbApiData.position,
                                required: true
                            }) %>
                        <% } %>
                    </div>

                    <!-- Section Private -->
                    <div class="form-group col">
                        <label for="sectionPrivate">Section Private</label>

                        <% if (type === 'create') { %>
                            <%- include("../../partials/form/inputSelect.ejs", {
                                elementName: "sectionPrivate",
                                elementValue: "null",
                                required: false,
                                optionElements: [
                                    {
                                        optionName: "Select a Status",
                                        optionValue: "null",
                                        selected: true,
                                        disabled: true
                                    },
                                    {
                                        optionName: "Private",
                                        optionValue: "1",
                                        selected: false,
                                        disabled: false
                                    },
                                    {
                                        optionName: "Public",
                                        optionValue: "0",
                                        selected: false,
                                        disabled: false
                                    }
                                ]
                            }) %>
                        <% } %>
                        <% if (type === 'edit') { %>
                            <%- include("../../partials/form/inputSelect.ejs", {
                                elementName: "sectionPrivate",
                                elementValue: kbApiData.privateSection,
                                required: false,
                                optionElements: [
                                    {
                                        optionName: "Select a Status",
                                        optionValue: "null",
                                        selected: true,
                                        disabled: true
                                    },
                                    {
                                        optionName: "Private",
                                        optionValue: "1",
                                        selected: false,
                                        disabled: false
                                    },
                                    {
                                        optionName: "Public",
                                        optionValue: "0",
                                        selected: false,
                                        disabled: false
                                    }
                                ]
                            }) %>
                        <% } %>
                    </div>
                </div>

                <% if (type === 'create') { %>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-book"></i> Create Section</button>
                <% } %>

                <% if (type === 'edit') { %>
                    <button type="submit" class="btn btn-warning"><i class="fas fa-book"></i> Edit Section</button>
                <% } %>
        </form>        
    </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>