<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all of the knowledgebase sections and sections in the Network Knowledgebase."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Knowledgebase</h4>
                                <a href="/dashboard/knowledgebase/section/create"><button type="button" class="btn btn-sm btn-info">Create Knowledgebase Section</button></a>
                                <a href="/dashboard/knowledgebase/article/create"><button type="button" class="btn btn-sm btn-info">Create Knowledgebase Article</button></a>
                            </div>
                            <br>
                            <div class="card-body">
                                <div class="default-tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item active">
                                            <a class="nav-link" data-toggle="tab" href="#section">Sections</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#articles">Articles</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="section" role="tabpanel">
                                            <div class="pt-4">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-responsive-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Icon</th>
                                                                <th>Slug</th>
                                                                <th>Name</th>
                                                                <th>Description</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if (sectionApiData.success == false) { %>
                                                                <%- include("../../partials/alert.ejs", {
                                                                  alertType: "danger",
                                                                  content: sectionApiData.message
                                                                }) %>
                                                            <% } else { %>
                                                                <% sectionApiData.data.forEach(function (section) { %>
                                                                    <tr>
                                                                        <td><i class="<%= section.sectionIcon %>"></i></td>
                                                                        <td><%= section.sectionSlug %></td>
                                                                        <td><%= section.sectionName %></td>
                                                                        <td><%= section.description %></td>
                                                                        <td>
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-sm btn-warning" type="button">Edit</button>
                    
                                                                                <form action="/dashboard/knowledgebase/section/delete" method="post">
                                                                                    <input type="hidden" name="sectionSlug" value="<%= section.sectionSlug %>">
                                                                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                                </form>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                            <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="articles">
                                            <div class="pt-4">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-responsive-sm">
                                                        <thead>
                                                            <tr>
                                                                <th>Article Slug</th>
                                                                <th>Name</th>
                                                                <th>Markdown URL</th>
                                                                <th>Published</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if (articleApiData.success == false) { %>
                                                                <%- include("../../partials/alert.ejs", {
                                                                  alertType: "danger",
                                                                  content: articleApiData.message
                                                                }) %>
                                                            <% } else { %>
                                                                <% articleApiData.data.forEach(function (article) { %>
                                                                    <tr>
                                                                        <td><%= article.articleSlug %></td>
                                                                        <td><%= article.articleName %></td>
                                                                        <td><%= article.articleLink %></td>
                                                                        <td>
                                                                            <% if (article.published === 1) { %>
                                                                                <i class="fas fa-check-circle" style="color:green"></i>
                                                                            <% } else { %>
                                                                                <i class="fas fa-times-circle" style="color: red;"></i>
                                                                            <% } %>
                                                                        </td>
                                                                        <td>
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-sm btn-warning" type="button">Edit</button>
                    
                                                                                <form action="/dashboard/knowledgebase/article/delete" method="post">
                                                                                    <input type="hidden" name="articleSlug" value="<%= article.articleSlug %>">
                                                                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                                </form>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                            <% } %>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>