<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Editor for the Knowledgebase Section Manager."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Section Editor</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <% if (type === 'create') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/knowledgebase/section/create">
                                    <% } %>
                                    <% if (type === 'edit') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %><%= config.siteConfiguration.apiRoute %>/knowledgebase/section/update">
                                            <input type="hidden" name="slug" value="<%= kbApiData.sectionSlug %>">
                                    <% } %>
                                            <!-- Name of Section Slug -->
                                            <div class="form-group">
                                                <label for="sectionSlug">Section Slug</label>

                                                <% if (type === 'create') { %>
                                                    <input type="text" class="form-control input-default " name="sectionSlug" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <input type="text" class="form-control input-default " name="sectionSlug" value="<%= kbApiData.sectionSlug %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The slug for the section of the knowledgebase (primary use for accessing kb articles via URL /knowledgebase/gettingStarted/joiningTheNetwork).</p>
                                            </div>

                                            <!-- Name of Section -->
                                            <div class="form-group">
                                                <label for="sectionName">Section Display Name</label>

                                                <% if (type === 'create') { %>
                                                    <input type="text" class="form-control input-default " name="sectionName" required>
                                                <% } %>
                                                <% if (type === 'edit') { %>
                                                    <input type="text" class="form-control input-default " name="sectionName" value="<%= kbApiData.sectionName %>" required>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">The display name for the section.</p>
                                            </div>

                                            <!-- Section Description -->
                                            <div class="form-group">
                                                <label for="sectionDescription">Section Description</label>

                                                <% if (type === 'create') { %>
                                                    <textarea class="form-control" style="height: 150px;" rows="10" name="sectionDescription" placeholder="Text input"></textarea>
                                                <% } %>
                                                <% if (type === 'edit') { %>

                                                    <textarea class="form-control" style="height: 150px;" rows="10" name="sectionDescription" placeholder="Text input"><%= kbApiData.description %></textarea>
                                                <% } %>

                                                <p class="text-muted m-b-15 f-s-12">Information for the event that the community needs to know.</p>
                                            </div>

                                            <div class="row">
                                                <!-- Section Icon -->
                                                <div class="form-group col">
                                                    <label for="sectionIcon">Section Icon</label>

                                                    <% if (type === 'create') { %>
                                                        <input type="text" class="form-control input-default " name="sectionIcon" required>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <input type="text" class="form-control input-default " name="sectionIcon" value="<%= kbApiData.sectionIcon %>" required>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The display icon for the section. Please select one from <a href="https://fontawesome.com/v5/search">FontAwesome</a></p>
                                                </div>

                                                <!-- Section Position -->
                                                <div class="form-group col">
                                                    <label for="sectionPosition">Section Position</label>

                                                    <% if (type === 'create') { %>
                                                        <input type="text" class="form-control input-default " name="sectionPosition" required>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <input type="text" class="form-control input-default " name="sectionPosition" value="<%= kbApiData.position %>" required>
                                                    <% } %>
                                                </div>
                                            </div>

                                            <% if (type === 'create') { %>
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-book"></i> Create Section</button>
                                            <% } %>

                                            <% if (type === 'edit') { %>
                                                <button type="submit" class="btn btn-warning"><i class="fas fa-book"></i> Edit Section</button>
                                            <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>