<!-- Slider Start -->
<section class="banner" style="background: url(<%= globalImage %>) no-repeat 50% 50%; overflow: hidden; background-size: cover; background-position: center;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing "><%= config.siteConfiguration.tagline %></span>
					<h1 class="mb-3 mt-3"><%= config.siteConfiguration.siteName %></h1>
					<br>
					
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="feature-block d-lg-flex text-center justify-content-center">
									<% if (apiData.success == false) { %>
										<%- include("../../partials/alert.ejs", {
										  alertType: "danger",
										  content: apiData.message
										}) %>
									  <% } else { %>
										<% apiData.data.forEach(function (server) { %>
										  <!-- <%= server.name %> Server -->
										  	<div class="feature-item mb-5 mb-lg-0">
												<h4 class="mb-3"><%= server.name %></h4>
												<input type="text" class="form-control input-default text-center" value="<%= server.fqdn %>" disabled>
											</div>
										<% }) %>
									  <% } %>
								</div>
								<br>

								<div class="text-center">
									<h2 class="mb-3 mt-3">Join the Community Discord</h2>
									<iframe src="https://discord.com/widget?id=<%= config.discord.guildId %>&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>