<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Showcase your content and builds related to the Server on the monthly community creations round up!"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("communityCreationsHeroHeader.ejs", {
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
    <div class="container-fluid">

      <div class="container">
        <% if (apiData.success == false) { %>
          <%- include("../../partials/alert.ejs", {
            alertType: "danger",
            content: apiData.message
          }) %>
        <% } %>
      </div>
      
        <div class="row">

          <% if (!apiData.success == false) { %>
            <% apiData.data.forEach(function (creation) { %>
              <div class="col-sm-4" style="padding: 10px; padding-bottom: 5px;">
                <img 
                src="https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png" 
                class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%= creation.creationName %></h5>
                  <p class="card-text"><small><%= creation.creationDescription %></small></p>
                </div>
                <div class="card-footer text-muted">
                  <small>Submitted by <a href="/profile/<%= creation.username %>"><%= creation.username %></a> <%- moment(creation.submittedDate).startOf('day').fromNow(); %></small>
                  <br>
                  <a href=""><button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (???)</button></a>
                  <% if (creation.approved === 0) { %>
                    <a href=""><button type="button" class="btn btn-sm btn-outline-success"><i class="far fa-thumbs-up"></i> Approve</button></a>
                    <a href=""><button type="button" class="btn btn-sm btn-outline-danger"><i class="far fa-thumbs-up"></i> Deny</button></a>
                  <% } %>
                </div>
              </div>
            <% }) %>
          <% } %>

        </div>
    </div>
</section>

<%- include("../../modules/footer.ejs") %>  