<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Add Servers for monitoring and display for community purposes."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Server Editor</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <% if (type === 'create') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/server/create">
                                    <% } %>
                                    <% if (type === 'edit') { %>
                                        <form method="post" action="<%= config.siteConfiguration.siteAddress %>/redirect/server/edit">
                                            <input type="hidden" name="serverId" value="<%= serverApiData.serverId %>">
                                    <% } %>
                                            
                                            <div class="row">
                                                <!-- Server Name -->
                                                <div class="form-group col">
                                                    <label for="name">Server Name</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "name",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "name",
                                                            elementValue: serverApiData.name,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The display name for the Server.</p>
                                                </div>

                                                <!-- Server FQDN -->
                                                <div class="form-group col">
                                                    <label for="fqdn">Server FQDN</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "fqdn",
                                                            elementValue: null,
                                                            required: false
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "fqdn",
                                                            elementValue: serverApiData.fqdn,
                                                            required: false
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The fully qualified domain name (usually for main servers).</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Server Name -->
                                                <div class="form-group col">
                                                    <label for="ipAddress">Server Address</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "ipAddress",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "ipAddress",
                                                            elementValue: serverApiData.ipAddress,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The IP or connection address for the Server.</p> 
                                                </div>

                                                <!-- Server Port -->
                                                <div class="form-group col">
                                                    <label for="port">Server Port</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "port",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "port",
                                                            elementValue: serverApiData.port,
                                                            required: true
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">The port for the Server.</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Server Position -->
                                                <div class="form-group col">
                                                    <label for="position">Server Position</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "position",
                                                            elementValue: null,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputText.ejs", {
                                                            elementName: "position",
                                                            elementValue: serverApiData.position,
                                                            required: true
                                                        }) %>
                                                    <% } %>
                                                </div>

                                                <!-- Server Visability -->
                                                <div class="form-group col">
                                                    <label for="visible">Server Visability</label>

                                                    <% if (type === 'create') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "visible",
                                                            elementValue: "null",
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Visability",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Show",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Hide",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>
                                                    <% if (type === 'edit') { %>
                                                        <%- include("../../partials/form/inputSelect.ejs", {
                                                            elementName: "visible",
                                                            elementValue: serverApiData.visible,
                                                            required: true,
                                                            optionElements: [
                                                                {
                                                                    optionName: "Select a Visability",
                                                                    optionValue: "null",
                                                                    selected: true,
                                                                    disabled: true
                                                                },
                                                                {
                                                                    optionName: "Show",
                                                                    optionValue: "1",
                                                                    selected: false,
                                                                    disabled: false
                                                                },
                                                                {
                                                                    optionName: "Hide",
                                                                    optionValue: "0",
                                                                    selected: false,
                                                                    disabled: false
                                                                }
                                                            ]
                                                        }) %>
                                                    <% } %>

                                                    <p class="text-muted m-b-15 f-s-12">Whether the Server should be public or not on <a href="/play">/play</a></p>
                                                </div>
                                            </div>

                                            <% if (type === 'create') { %>
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-server"></i> Create Server</button>
                                            <% } %>

                                            <% if (type === 'edit') { %>
                                                <button type="submit" class="btn btn-warning"><i class="fas fa-server"></i> Edit Server</button>
                                            <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>