<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all Servers that the Network currently offers."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Servers</h4>
                                <a href="/dashboard/servers/create"><button type="button" class="btn btn-sm btn-info">Create a Server</button></a>
                            </div>
                            <div class="card-body">
                                <% if (req.cookies.alertType) { %>
                                    <%- include("../../partials/alert.ejs", {
                                      alertType: req.cookies.alertType,
                                      content: req.cookies.alertContent
                                    }) %>
                                <% } %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>FQDN</th>
                                            <th>Address</th>
                                            <th>Port</th>
                                            <th>Visable</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (apiData.success == false) { %>
                                            <%- include("../../partials/alert.ejs", {
                                              alertType: "danger",
                                              content: apiData.message
                                            }) %>
                                        <% } else { %>
                                            <% apiData.data.forEach(function (server) { %>
                                                <tr>
                                                    <td><%= server.name %></td>
                                                    <td><%= server.fqdn %></td>
                                                    <td><%= server.ipAddress %></td>
                                                    <td><%= server.port %></td>
                                                    <td>
                                                        <% if (server.visible === 1) { %>
                                                            <i class="fas fa-check-circle" style="color:green"></i>
                                                        <% } else { %>
                                                            <i class="fas fa-times-circle" style="color: red;"></i>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="/dashboard/servers/edit?id=<%= server.serverId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                                            <form action="<%= process.env.siteAddress %>/redirect/server/delete" method="post">
                                                                <input type="hidden" name="serverId" value="<%= server.serverId %>">
                                                                <button class="btn btn-sm btn-danger" type="submit" onclick="window.location='/dashboard/servers/'">Delete</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>