<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Servers."
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Servers",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
      <a href="/dashboard/servers/create"><button type="button" class="btn btn-sm btn-info">Create a Server</button></a>
      <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/server/"
      }) %>
      <br><br>

      <% if (req.cookies.alertType) { %>
          <%- include("../../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
      <% } %>
      <div class="table-responsive">
          <table class="table">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Connection Address</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (apiData.success == false) { %>
                        <%- include("../../partials/alert.ejs", {
                        alertType: "danger",
                        content: apiData.message
                        }) %>
                    <% } else { %>
                        <% apiData.data.forEach(function (server) { %>
                            <tr>
                                <td><%= server.displayName %></td>
                                <td><%= server.serverConnectionAddress %></td>
                                <td><%= server.serverType %></td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/dashboard/servers/edit?id=<%= server.serverId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                        <form action="<%= process.env.siteAddress %>/redirect/server/delete" method="post">
                                            <input type="hidden" name="serverId" value="<%= server.serverId %>">
                                            <input type="hidden" name="actioningUser" value="<%= req.session.user.userId %>">
                                            <button class="btn btn-sm btn-danger" type="submit" onclick="window.location='/dashboard/servers/'">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
      </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>