<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Servers."
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Servers",
  backgroundImage: globalImage
}) %>

<div id="dashboard-wrapper">
    <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    <div class="main-content">
      <a href="/dashboard/servers/create"><button type="button" class="btn btn-sm btn-info">Create a Server</button></a>
      <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/server/"
      }) %>
      <br><br>

      <% if (req.cookies.alertType) { %>
          <%- include("../../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
      <% } %>
      <div class="table-responsive">
          <table id="servers-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Connection Address</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (apiData.success == true) { %>
                        <% apiData.data.forEach(function (server) { %>
                            <tr>
                                <td><%= server.displayName %></td>
                                <td><%= server.serverConnectionAddress %></td>
                                <td><%= server.serverType %></td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/dashboard/servers/edit?id=<%= server.serverId %>" class="btn btn-sm btn-warning">Edit</a>
                                        <form action="<%= process.env.siteAddress %>/redirect/server/delete" method="post" class="d-inline">
                                            <input type="hidden" name="serverId" value="<%= server.serverId %>">
                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Display Name</th>
                        <th>Connection Address</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
      </div>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
<script src="/js/dashboard-tables-init.js"></script>