<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Servers."
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../modules/dashboard/dashboard-header.ejs") %>

<div class="container my-4">
    <div class="row g-4">
        <div class="col-lg-3">
            <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
        </div>
        <main class="col-lg-9">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Servers</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/dashboard/servers/create" class="btn btn-sm btn-info">Create a Server</a>
                    <%- include("../../partials/documentationLink.ejs", {
                        doclink: "https://modularsoft.org/docs/products/zander/features/server/"
                    }) %>
                </div>
            </div>

            <% if (req.cookies.alertType) { %>
                <%- include("../../partials/alert.ejs", {
                  alertType: req.cookies.alertType,
                  content: req.cookies.alertContent
                }) %>
            <% } %>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Display Name</th>
                            <th>Connection Address</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (apiData.success == false) { %>
                            <%- include("../../partials/alert.ejs", {
                            alertType: "danger",
                            content: apiData.message
                            }) %>
                        <% } else { %>
                            <% apiData.data.forEach(function (server) { %>
                                <tr>
                                    <td><%= server.displayName %></td>
                                    <td><%= server.serverConnectionAddress %></td>
                                    <td><%= server.serverType %></td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="/dashboard/servers/edit?id=<%= server.serverId %>"><button class="btn btn-sm btn-warning" type="button">Edit</button></a>

                                            <form action="<%= process.env.siteAddress %>/redirect/server/delete" method="post">
                                                <input type="hidden" name="serverId" value="<%= server.serverId %>">
                                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<%- include("../../modules/footer.ejs") %>
