<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List of all Network Servers."
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Servers",
  backgroundImage: globalImage
}) %>

<div class="row dashboardview">
    <div class="col-md-2">
      <%- include("../../modules/dashboard/dashboard-sidebar.ejs") %>
    </div>
    <div class="col-md-10" style="padding: 10px;">
      <a href="/dashboard/servers/create"><button type="button" class="btn btn-sm btn-info">Create a Server</button></a>
      <%- include("../../partials/documentationLink.ejs", {
            doclink: "https://modularsoft.org/docs/products/zander/features/server/"
      }) %>
      <br><br>

      <% if (req.cookies.alertType) { %>
          <%- include("../../partials/alert.ejs", {
            alertType: req.cookies.alertType,
            content: req.cookies.alertContent
          }) %>
      <% } %>
      <div class="row">
        <% if (apiData.success == false) { %>
            <div class="col-12">
                <%- include("../../partials/alert.ejs", {
                  alertType: "danger",
                  content: apiData.message
                }) %>
            </div>
        <% } else { %>
            <% apiData.data.forEach(function (server) { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= server.displayName %></h5>
                            <p class="card-text"><strong>Type:</strong> <%= server.serverType %></p>
                            <p class="card-text"><strong>Address:</strong> <%= server.serverConnectionAddress %></p>
                            <p class="card-text"><strong>Position:</strong> <%= server.position %></p>
                            <div class="btn-group">
                                <a href="/dashboard/servers/edit?id=<%= server.serverId %>" class="btn btn-sm btn-warning">Edit</a>
                                <form action="<%= process.env.siteAddress %>/redirect/server/delete" method="post" class="d-inline">
                                    <input type="hidden" name="serverId" value="<%= server.serverId %>">
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
    </div>
  </div>

<%- include("../../modules/footer.ejs") %>