<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all of the ranks currently on the Network."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Ranks</h4>
                                <a href="/dashboard/ranks/create"><button type="button" class="btn btn-sm btn-info">Create Rank</button></a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>Rank Slug</th>
                                                <th>Display Name</th>
                                                <th>Badge Display</th>
                                                <th>Is Staff</th>
                                                <th>Is Donator</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (apiData.success == false) { %>
                                                <%- include("../../partials/alert.ejs", {
                                                  alertType: "danger",
                                                  content: apiData.message
                                                }) %>
                                            <% } else { %>
                                                <% apiData.data.forEach(function (rank) { %>
                                                    <tr>
                                                        <td><%= rank.rankSlug %></td>
                                                        <td><%= rank.displayName %></td>
                                                        <td><span class="badge" style="font-size: 10pt; background-color: <%= rank.rankBadgeColour %>; color: <%= rank.rankTextColour %>;"><%= rank.displayName %></span></td>
                                                        <td>
                                                            <% if (rank.isStaff === 1) { %>
                                                                <i class="fas fa-check-circle" style="color:green"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-times-circle" style="color: red;"></i>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (rank.isDonator === 1) { %>
                                                                <i class="fas fa-check-circle" style="color:green"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-times-circle" style="color: red;"></i>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group mb-2 btn-group-sm">
                                                                <button class="btn btn-warning" type="button">Edit</button>
                                                                <button class="btn btn-danger" type="button">Delete</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>