<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all Users in the " + rankDisplayName +" rank currently on the Network."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4><%= rankDisplayName %> Users</h4>
                                <a href="/dashboard/ranks"><button type="button" class="btn btn-sm btn-primary">Back to Rank Manager</button></a>
                            </div>
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Badge Display</th>
                                                <th>Title</th>
                                                <th>Has Account</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (apiData.success == false) { %>
                                                <%- include("../../partials/alert.ejs", {
                                                  alertType: "danger",
                                                  content: apiData.message
                                                }) %>
                                            <% } else if (apiData.data.length > 0) { %>
                                                <% apiData.data.forEach(function (user) { %>
                                                    <tr>
                                                        <td><%= user.username %></td>
                                                        <td><span class="badge" style="font-size: 10pt; background-color: <%= user.rankBadgeColour %>; color: <%= user.rankTextColour %>;"><%= user.displayName %></span></td>
                                                        <td><%= user.title %></td>
                                                        <td>
                                                            <% if (user.userId === null) { %>
                                                                <i class="fas fa-times-circle" style="color: red;"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-check-circle" style="color:green"></i>
                                                            <% } %>
                                                        </td>
                                                        <td>
															<% if (user.userId !== null) {%>
																<div class="btn-group mb-2 btn-group-sm">
																	<button class="btn btn-info" type="button">View User</button>
																</div>
															<% } %>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>